<!--  <div class="row blockDisplay">
    <div class="column_half left_half">
      <h2 class="column_title">LEFT COLUMN</h2>
    </div>
    <div class="column_half right_half">
      <h2 class="column_title">RIGHT COLUMN</h2>
    </div>
  </div> -->
  <div class="social">
    <p class="social_icon"><a title="Twitter" href="https://twitter.com/marketing_arg" target="_blank" onClick="ga('send', 'event', 'enlace', 'click', 'Twitter', 1 );"><img src="imagenes/botones/twit.png" width="100" alt="" class="thumbnail"/></p>
    <p class="social_icon"><a title="Instagram" href="https://www.instagram.com/marketing_arg/" target="_blank" onClick="ga('send', 'event', 'enlace', 'click', 'Instagram', 1 );"><img src="imagenes/botones/insta.png" width="100" alt="" class="thumbnail"/></p>
    <p class="social_icon"><a title="Facebook" href="https://www.facebook.com/Marketing_Arg-180953602452720/" target="_blank" onClick="ga('send', 'event', 'enlace', 'click', 'Facebook', 1 );"><img src="imagenes/botones/face.png" width="100" alt="" class="thumbnail"/></p>
    <p class="social_icon"><a title="Canal de Youtube" href="http://www.youtube.com/c/JuliánMontero" target="_blank" onClick="ga('send', 'event', 'enlace', 'click', 'canal_youtube', 1 );"><img src="imagenes/botones/youtube2.png" width="100" alt="" class="thumbnail"/></a></p>
  </div>
  <footer class="footer">
    <div class="copyright">&copy;2014 - 2019 - <strong>Aprendizaje Activo</strong></div>
  </footer>
</div>
</body>
</html>
