<meta name= "Descripción" content="Comercialización 1 material apoyo"/>
<title>Comercialización I</title>


<?php
		require TEMPLATE_PATH.'/Analytics.php';?>
</head><!--comercialización_1-->


<body> <!--comercialización_1-->
<div id="contenedor">

	<div id="menu_izquierda">
		<?php
		require TEMPLATE_PATH.'/menu.php';
		?>
	</div>
<div id="principal">
	<h1> Comercialización I</h1> <br />
	

<table class="tabla" summary="Tabla genérica" >
            <tr>
                <th> Unidad</th>
                <th> Descripción</th>
                <th> Presentación</th>
                <th> Autoevaluación</th>
                
            </tr>
            
             <tr>
                <td>Unidad 1</td>
                <td>Introducción a la comercialización</td>
                <td align="center"> <a href=templates/t_introduccion_marketing/introduccion_marketing.php>Ver</a></td>
                <td><a href="index.php?pagina=autoevaluacion_intro">Hacer</a></td>
            </tr>
             <tr>
                <td>Unidad 2</td>
                <td>Modelos de comportamiento del consumidor</td>
                <td align="center"> <a href=templates/t_comportamiento_del_consumidor/comportamiento_del_consumidor.php>Ver</a></td>
                <td><a href="index.php?pagina=autoevaluacion_comportamiento_consumidor">Hacer</a></td>
            </tr>
             <tr>
                <td>Unidad 3</td>
                <td> Sistemas de información</td>
                <td> <a href=#></a></td>
            </tr>
            <tr>
                <td>Unidad 4</td>
                <td> Segmentación y Posicionamiento</td>
                <td align="center"> <a href=templates/t_target/target.php>Ver</a></td>
                <td><a href="index.php?pagina=autoevaluacion_marketing_meta">Hacer</a></td>
            </tr>
             <tr>
                <td>Unidad 5</td>
                <td> Producto</td>
                <td align="center"> <a href=#></a></td>
            </tr>
             <tr>
                <td>Unidad 6</td>
                <td>Marcas, conceptos y estrategias</td>
                <td align="center">  <a href=templates/t_marcas/marcas.php>Ver</a></td>
                <td><a href="index.php?pagina=autoevaluacion_marcas_corporativas">Hacer</a></td>
            </tr>
             <tr>
                <td> Unidad 7</td>
                <td>Estrategias de crecimiento</td>
                <td align="center"> <a href=templates/t_est_crecim/estrategia.php>Ver</a></td>
                <td><a href="#"> </a></td>
                
            </tr>
             <tr>
                <td> Unidad 8</td>
                <td>Publicidad y Promoción</td>
                <td align="center"> <a href=templates/t_publicidad_promocion/publicidad_promocion.php></a></td>
                <td><a href="#"> </a></td>
            </tr>
           
             <tr>
                 
                <td>Unidad 9</td>
                <td> Estrategia y tácticas de fijación de precios</td>
                <td align="center"> <a href=templates/t_precios/precios.php>Ver</a></td>
                <td><a href="index.php?pagina=autoevaluacion_estrategia_precios">Hacer</a></td>
            </tr>
             <tr>
                <td>Unidad 10</td>
                <td> Canales de distribución</td>
                <td align="center"> <a href=templates/t_canales/canales_distribucion.php>Ver</a></td>
                <td><a href="index.php?pagina=autoevaluacion_canales_distribucion">Hacer</a></td>
            </tr>
        </table>
        
        <h2>Conocimientos auxiliares</h2>
        
    
        
        <table class="tabla">
            <tr>
                <th>Unidad</th>
                <th>Descripción</th>
                <th>Link</th>
            </tr>
            <tr>
                <td>Unidad 9</td>
                <td>
                    Costos
                </td>
                <td><a href="index.php?pagina=costos_fijos_variables">Ver</a></td>
                </tr>
                <td>Unidad 9</td>
                <td>
                    Punto de Equilibrio
                </td>
                <td><a href="index.php?pagina=punto_equilibrio">Ver</a></td>
            </tr>
        </table>
        <br>
        <br>
</div><!--principal-->
