 <!-- Hojas de estilo -->
		
			<link rel="stylesheet" href="css/menu.css" />
			<link rel="stylesheet" href="css/caja_1.css" />
                        
			<link rel="stylesheet" href="css/menu.css" />
			<link rel="stylesheet" href="css/tablas.css" />
                
                           
			<div id="contenedor_encabezado">

			<div id="encabezado">
                        <div id="texto">Aprendizaje Activo 2</div>
                        <div id="bus">
                      

                        <script>
  (function() {
    var cx = '016080573319975855879:1bowjfsxooa';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>