<meta name= "Description" content="Curso Comercialización 1 material de apoyo, autoevaluación, bibliografía, marketing estrategico, marca corporativa, branding, fijacion de precios"/>
<meta name="keywords" content="comercializacion 1,Curso comercialización, Curso marketing, aprender marketing, fijacion de precios, branding, publicidad, promoción">
<title>Enviar mail a estudiantes</title>


<?php
		require TEMPLATE_PATH.'/Analytics.php';?>
</head><!--comercialización_1-->


<body> <!--comercialización_1-->
<div id="contenedor">

	<div id="menu_izquierda">
		<?php
		require TEMPLATE_PATH.'/menu.php';
		?>
	</div>
<div id="principal">
	<h1>Enviar e-mail a estudiantes</h1> <br />
	
<div id="links">
    <ul><li><a href="mailto:info@aprendizajeactivo.com.ar?subject=Autoevaluación &body=Te invito a realizar la autoevaluación en linea.%0A%0A
               Espero te sea de utilidad"> Contacto </a></li>
			</ul>
	</div>

        <br>
        <br>
        
        
        <br>
        <br>
        <form action="mailto:julianmontero@me.com?subject=Autoevaluaci&oacute;n" method="post" enctype="text/plain">
            
            <center>	<input type="submit" value="Enviar" /> </center>
        </form>
        
        <br>
        <br>
</div><!--principal-->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

