<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="es">
    <head>
        <title>Mail</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="stylesheet" href="../css/estructura.css"/>
        <link rel="stylesheet" href="../css/menu_horizontal.css"/>
        <link rel="stylesheet" href="../css/tablas.css"/>
    </head>
    <body>
        <div id="contenedor">
        <header>
          mail
        </header>
   
			<h3>Se ha producido un error. Compruebe su usuario y su contraseña<br></h3>      <br><br>

<FORM name="f3" method="POST" action="templates/admin_comprueba_login.php">

     <table border="0" align="center">
         <tr>
             <td>Login</td>
             <td> <label for="login"</label>
                 <input type="text" name="login"></td>
             </tr>
             <tr>
             <td>Contraseña</td>
             <td> <label for="password"</label>
                 <input type="password" name="password"></td>
             </tr>
             
         
     </table>


          <center>	<input type="submit" value="Enviar" /> </center>
</FORM>
            </div>
            
           <div id="lateral">
                  <center>
                  
                  </center>
              
              
              </div>
     <div id="pie">    <footer></footer></div>
    </div>
    </body>
</html>
