
<html>
	<head>
	<div id="cuerpo">

<meta name= "Descripción" content="Estrategias didacticas para fomentar, incentivar el aprendizaje activo, la participación de los estudiantes y elevar la calidad académica"/>
<title>Bienvenido al sitio Aprendizaja Activo</title>

</head>

<?php
		require TEMPLATE_PATH.'/Analytics.php';?>



	<div id="izquierda">
		<?php
		require TEMPLATE_PATH.'/menu2.php';
		?>
	</div>
<div id="principal">
	<h1> Autoevaluación</h1> <br /><br />
	<br /><br />
En esta página ofrece un formulario interactivo de autoevaluación con la intención de brindar a los estudiantes<br />
la oportunidad de probar sus conocimientos durante el proceso de aprendizaje.<br /><br />

La autoevaluación esta organizada por unidad, con 10 preguntas en cada etapa.<br />
Al momento de enviar la autoevaluación de cada etapa el sitio devuelve un puntaje que resulta de<br />
sumar un punto por cada acierto y restar 0,5 por cada error. Las respuestas no contestadas no suman ni restan<br />
	<a href="templates/aulavirtualauto1.html">Comenzar autoevaluación ahora html</a>
		
	actualizamos archivo
			
</div>
</div><!--cuerpo-->
</html>
	