<meta charset="UTF-8"/>
<meta name="Description" content="Autoevaluación introducción al marketing, autoevaluación Comercialización, 
                participación activa"/>

<title>Autoevaluación Introducción a la Comercialización</title>

<?php
		require TEMPLATE_PATH.'/Analytics.php';?>
</head>
<body>
<div id="contenedor">


	<div id="menu_izquierda">
		<?php
		require TEMPLATE_PATH.'/menu.php';
		?>
	</div>
<div id="principal">
<h1>Examen Parcial </h1>


<br/><br/>



<FORM name="f3" method="POST" action="index.php?pagina=autoevaluacion_examen_resultado">
<input type="hidden" name="20" value=" <?php echo date("d-m-Y");?>">
       <input type="hidden" name="0" value="c1_01">


<label for="apellido"><strong>Apellido</strong></label>
          <input type="text" name="apellido" value="" />
      
          <label for="nombre"><strong>Nombre</strong></label>
          <input type="text" name="nombre" value="" /><br /><br/>

    <strong>
          1- Responder Verdadero o Falso según corresponda. Cada acierto suma 20 centésimos y la respuesta incorrecta resta 10 centésimos.  (2 pts)
          
          <br>
          </strong><br>
    <fieldset>
    <br>
          
          <fieldset>
              <legend> <label><strong>1.1- En la era del marketing digital se pasa de un marketing de interrupción a un marketing atracción</strong></label></legend>
              
        <input type="radio" name="1" value="0.4">Verdadero<br/>
        <input type="radio" name="1" value="-0.2">Falso<br/>
	</fieldset><br>
        
         <fieldset>
              <legend> <label><strong>1.2- El posicionamiento web, es el lugar que ocupa la página web de una empresa en la mente del consumidor potencial</strong></label></legend>
              
        <input type="radio" name="2" value="-0.2">Verdadero<br/>
        <input type="radio" name="2" value="0.4">Falso<br/>
	</fieldset><br>
        
         <fieldset>
              <legend> <label><strong>1.3- Para mejorar el ranking en los resultados de un motor de búsqueda se debe desarrollar contenidos atractivos para los usuarios</strong></label></legend>
              
        <input type="radio" name="3" value="0.4">Verdadero<br/>
        <input type="radio" name="3" value="-0.2">Falso<br/>
	</fieldset><br>
        
         <fieldset>
              <legend> <label><strong>1.4- El posicionamiento SEM es gratuito</strong></label></legend>
              
        <input type="radio" name="4" value="-0.2">Verdadero<br/>
        <input type="radio" name="4" value="0.4">Falso<br/>
	</fieldset><br>
        
         <fieldset>
              <legend> <label><strong>1.5- La estructura de navegación de un sitio web no incide en el ordenamiento que realiza un motor de búsqueda en la web</strong></label></legend>
              
        <input type="radio" name="5" value="-0.2">Verdadero<br/>
        <input type="radio" name="5" value="0.4">Falso<br/>
	</fieldset><br>
        
         <fieldset>
              <legend> <label><strong>1.6- La publicidad de interrupción primero llama la atención, luego interrumpen y luego venden la interrupción.</strong></label></legend>
              
        <input type="radio" name="6" value="0.4">Verdadero<br/>
        <input type="radio" name="6" value="-0.2">Falso<br/>
	</fieldset><br>
        
         <fieldset>
              <legend> <label><strong>1.7- Según el autor de Internet marketing 2.0 el termino espectador ha tomado mayor importancia.</strong></label></legend>
              
        <input type="radio" name="7" value="-0.2">Verdadero<br/>
        <input type="radio" name="7" value="0.4">Falso<br/>
	</fieldset><br>
        
         <fieldset>
              <legend> <label><strong>1.8-  La satisfacción del cliente depende en gran medida de las expectativas</strong></label></legend>
              
        <input type="radio" name="8" value="0.4">Verdadero<br/>
        <input type="radio" name="8" value="-0.2">Falso<br/>
	</fieldset><br>
        
         <fieldset>
              <legend> <label><strong>1.9- La fidelidad del cliente determina la probabilidad de que vuelva a contratar los servicios de la empresa</strong></label></legend>
              
        <input type="radio" name="9" value="0.4">Verdadero<br/>
        <input type="radio" name="9" value="-0.2">Falso<br/>
	</fieldset><br>
        
         <fieldset>
              <legend> <label><strong>1.1o- El marketing relacional se fundamente en 3 pilares, los clientes, los empleados y la competencia</strong></label></legend>
              
        <input type="radio" name="10" value="-0.2">Verdadero<br/>
        <input type="radio" name="10" value="0.4">Falso<br/>
	</fieldset><br>
        </fieldset><br>
        
        
        
    <strong>
          2- Marketing Digital   
          <br>
          </strong>
            <br>
        <fieldset>
            <br>
        <fieldset>
            <legend>
        <label><strong>2.1- El posicionamiento SEO consiste en</strong></label></legend>
        
        <input type="radio" name="11" value="2">Optimizar la estructura, el código y el contenido de una página web para aparecer en los primeros lugares<br/>
	<input type="radio" name="11" value="-1">Participar en una subasta por palabras para aparecer en los primeros lugares como un anuncio<br/>
	<input type="radio" name="11" value="2">Optimizar la estructura y el contenido de una página web para ser la primera opción del usuario<br/>
	<input type="radio" name="11" value="-1">Utilizar la publicidad fuera de línea para generar tráfico en la página web</fieldset><br/>
        
        
      <fieldset>
            <legend>
        <label><strong>2.2- El posicionamiento SEM consiste en</strong></label></legend>
        
        <input type="radio" name="12" value="-1">Optimizar la estructura, el código y el contenido de una página web para aparecer en los primeros lugares<br/>
	<input type="radio" name="12" value="2">Participar en una subasta por palabras para aparecer en los primeros lugares como un anuncio<br/>
	<input type="radio" name="12" value="2">Optimizar la estructura y el contenido de una página web para ser la primera opción del usuario<br/>
	<input type="radio" name="12" value="-1">Utilizar la publicidad fuera de línea para generar tráfico en la página web</fieldset><br/>
        
        
        <fieldset>
            <legend>
        <label><strong>2.3- Las estrategias de posicionamiento SEO y SEM</strong></label></legend>
    	
        <input type="radio" name="13" value="-1">No tiene ninguna relación<br/>
	<input type="radio" name="13" value="2">Se influyen mutuamente y se potencian una a la otra<br/>
	<input type="radio" name="13" value="-1">El posicionamiento SEO potencia al SEM<br/>
	<input type="radio" name="13" value="-1">El posicionamiento SEM potencia al SEO</fieldset><br/>
        
        <fieldset>
            <legend>
        <label><strong>2.4- La análitica web mide el rendimiento de un sitio web con disitintas métricas, ¿Cuál de las siguientes no es una de ellas?</strong></label></legend>
    	
        <input type="radio" name="14" value="-1">Número de visitas<br/>
	<input type="radio" name="14" value="2">Participación de mercado<br/>
	<input type="radio" name="14" value="-1">Páginas vistas<br/>
	<input type="radio" name="14" value="-1">Porcentaje de rebote</fieldset><br/>
        </fieldset><br/>
        
        
        <strong>
          3- Marketing Relacional y de Fidelización   
          <br>
          </strong>
            <br>
        <fieldset>
            <br>
        <fieldset>
            <legend>
        <label><strong>3.1- Berry propone 5 elementos para el desarrollo del marketing relacional ¿Cuál no corresponde?</strong></label></legend>
    	
        <input type="radio" name="15" value="-1">Desarrollar un núcleo de servicio<br/>
	<input type="radio" name="15" value="-1">Individualizar la relación<br/>
	<input type="radio" name="15" value="2">Incentivar el trato personal<br/>
	<input type="radio" name="15" value="-1">Potenciar a los empleados</fieldset><br/>
        
        
        
        <fieldset>
            <legend>
        <label><strong>3.2- Los tres tipos de marketing de servicios cumplen una función en relación a las promesas </strong></label></legend>
            <br>
            <table>
                        <tr><td width="60%">
                    <input type="radio" name="16" value="-1">Externo, cumplir. Interactivo hacer. Interno mantener.<br/>
	<input type="radio" name="16" value="-1">Externo, Hacer. Interactivo mantener. Interno asegurar.<br/>
	<input type="radio" name="16" value="-1">Externo, asegurar. Interactivo hacer. Interno mantener.<br/>
	<input type="radio" name="16" value="2">Externo, hacer. Interactivo asegurar. Interno mantener.
                    </td>
                    <td width="40%">
         <center> <img src="imagenes/promesas.jpg" width="300" height="250" alt="la función del marketing de servicios y las promesas"> </center>               
                    </td></tr>
            </table>
                
        </fieldset><br/>
        
        <fieldset>
            <legend>
        <label><strong>3.3- Los pilares del marketing relacional son</strong></label></legend>
        
        <input type="radio" name="17" value="2">La gestión de los clientes, los empleados y las expectativas<br/>
	<input type="radio" name="17" value="-1">Se hace una guerra de precios entre competidores directos<br/>
	<input type="radio" name="17" value="-1">Se hace publicidad comparativa con la competencia<br/>
	<input type="radio" name="17" value="-1">Se hace descuentos de precios arbitrariamente</fieldset><br/>
        
        
        <fieldset>
            <legend>
        <label><strong>3.4- Según la tipología un programa de fidelización puede ofrecer recompensas</strong></label></legend>
        
        <input type="radio" name="18" value="-1">económicas basadas en puntos o cupones de descueto<br/>
	<input type="radio" name="18" value="-1">simbólicas y económicas <br/>
	<input type="radio" name="18" value="2">económicas basadas en puntos, cupones de descueto o trato preferencial<br/>
	<input type="radio" name="18" value="-1">todas las opciones son correctas</fieldset><br/>
        Si necesitas ayuda, podes ver el video del caso Melia Rewards<br><br>
        <iframe width="854" height="480" src="https://www.youtube.com/embed/JqQQ_7NbxmI" frameborder="0" allowfullscreen></iframe> 
 <br/>
        </fieldset><br/>
        
        <center><input type="submit" value="Enviar autoevaluación" /></center>
        <br/><br/>
        
</FORM>
</div><!--principal-->
