<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1"><meta charset="UTF-8"/>
<meta name="Description" content="Autoevaluación introducción al marketing, autoevaluación Comercialización"/>

<title>Autoevaluación Comportamiento del Consumidor</title>

<link href="css/multiColumnTemplate.css" rel="stylesheet" type="text/css">
<link href="css/tablas.css" rel="stylesheet" type="text/css">
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

<?php
		require TEMPLATE_PATH.'/Analytics.php';?>
</head><!--autoevaluación 1-->

<body>
<div class="container">
  <header class="main-header">
    <div class="primary_header">
      <a href="index.php"><span><h1 class="title">Aprendizaje Activo</h1></span></a>
    </div>
    <nav class="secondary_header" id="menu">
      <?php
		require TEMPLATE_PATH.'/menu_comer1_home.php';
		?>
    </nav>
  </header>
  <section>
    <h2 class="noDisplay">Main Content</h2>
    
    <article class="left_article">
<h3>Autoevaluación Comportamiento del Consumidor</h3>

<FORM name="f3" method="POST" action="index.php?pagina=autoevaluacion_resultado">
<input type="hidden" name="20" value=" <?php echo date("d-m-Y");?>">
    <input type="hidden" name="0" value="c1_02">	

<label for="Apellido"><strong>Apellido</strong></label>
          <input type="text" name="Apellido" value="" />
      
          <label for="nombre"><strong>Nombre</strong></label>
          <input type="text" name="nombre" value="" /> <p align="right"><a href="#" title="Bibliografía: Wilensky, Alberto (1997). Marketing Estratégico.  (6ta ed.) Fondo de cultura económica Argentina.">Bibliografía</a>
          </p><br /><br/>
          
          
        <fieldset>
              <legend> <label><strong>1- El enfoque microeconómico supone un consumidor racional que busca maximizar su nivel de satisfacción
	</strong></label></legend>
     
	<input type="radio" name="1" value="-1">El modelo se sustenta en tres axiomas, de compensación, de transitividad y de elección<br/>
	<input type="radio" name="1" value="-1">El modelo se sustenta en tres axiomas, de comparación, de permutabilidad y de elección<br/>
	<input type="radio" name="1" value="2">El modelo se sustenta en tres axiomas, de comparación, de transitividad y de elección<br/>
	<input type="radio" name="1" value="-1">El modelo se sustenta en tres axiomas, de compensación, de permutabilidad y de opción</fieldset><br/>
        
        
        <fieldset>
              <legend> <label><strong>2- El enfoque conductista se basa en el concepto de reflejo condicionado. Este concepto supone</strong></label></legend>
        
	<input type="radio" name="2" value="-1">la existencia de reflejos y emociones congénitos invariables<br/>
	<input type="radio" name="2" value="-1">la existencia de reflejos y emociones propios de la vida adulta<br/>
	<input type="radio" name="2" value="2">la transformación de reflejos y emociones<br/>
	<input type="radio" name="2" value="-1">todas las opciones son correctas</fieldset><br/>
        
        <fieldset>
              <legend> <label><strong>3- El enfoque conductista supone una curva de aprendizaje que distingue tres zonas</strong></label></legend>
      
	<input type="radio" name="3" value="-1">zona de solución impulsiva, solución extendida y conducta rutinaria<br/>
	<input type="radio" name="3" value="-1">zona de solución extensiva, solución extendida y comportamiento regular<br/>
	<input type="radio" name="3" value="-1">zona de solución intensiva, solución limitada y conducta alternada<br/>
	<input type="radio" name="3" value="2">zona de solución extensiva, solución limitada y conducta rutinaria</fieldset><br/>
        
        
        <fieldset>
              <legend> <label><strong>4-El Enfoque de la psicología social explica el comportamiento en base a</strong></label></legend>
        
         <input type="radio" name="4" value="-1">un sistema de decisión conciente y racional en el conjunto social<br/>
	<input type="radio" name="4" value="2">un sistema social con un "status" dado y un "rol" para cada uno de sus miembros<br/>
	<input type="radio" name="4" value="-1">un sistema social con un "rol" predeterminado para cada uno de sus miembros<br/>
	<input type="radio" name="4" value="-1">un sistema de decisión basado en el inconciente colectivo</fieldset><br/>
        
        
        
        <fieldset>
              <legend> <label><strong>5- La teoría de los factores de la personalidad supone que (Enfoque Psicográfico)</strong></label></legend>
         
	<input type="radio" name="5" value="-1">la personalidad es una combinación de rasgos, y dicha combinación es variable en el tiempo<br/>
	<input type="radio" name="5" value="-1">la personalidad es una combinación de rasgos, y sostiene que la cantidad de combinaciones impiden predecir el comportamiento<br/>
	<input type="radio" name="5" value="2">la personalidad es una combinación de rasgos, y dicha combinación permite predecir el comportamiento<br/>
	<input type="radio" name="5" value="-1">la opción 1 y 3 son correctas</fieldset><br/>
        
        
        <fieldset>
              <legend> <label><strong>6-En el Enfoque sociológico se destaca el aporte de Adler, quien afirmo que</strong></label></legend>
        
         <input type="radio" name="6" value="-1">el impulso humano esta guiado por los deseos sexuales y biológicos<br/>
	<input type="radio" name="6" value="2">el impulso humano es el de una lucha por la “superioridad”<br/>
	<input type="radio" name="6" value="-1">el impulso humano es el de una lucha por la supervivencia<br/>
	<input type="radio" name="6" value="-1">el impulso humano está condicionado por aprendizaje condicionado</fieldset><br/>
        
        
        
        
        
        <fieldset>
              <legend> <label><strong>7- Dentro del enfoque sociológico, Veblen afirma que
la propensión emulativa es la más fuerte después del instinto de
autoconservación, describe el efecto snobismo como</strong></label></legend>
         
	<input type="radio" name="7" value="-1">la imitación de las clases bajas sobre las clases más pudientes<br/>
	<input type="radio" name="7" value="-1">el deseo de las clases medias por adquirir productos propios de clases altas<br/>
	<input type="radio" name="7" value="2">el rechazo de marcas exclusivas que se han generalizado<br/>
	<input type="radio" name="7" value="-1">la opción a y b son correctas</fieldset><br/>

        <fieldset>
              <legend> <label><strong>8- En el enfoque psicoanalítico en el periodo indirecto se afirma que</strong></label></legend>
        
       	<input type="radio" name="8" value="-1">interesa tanto lo que el consumidor dice, como lo que no dice<br/>
	<input type="radio" name="8" value="2">no interesa lo que el consumidor dice, sino lo que no dice<br/>
	<input type="radio" name="8" value="-1">interesa lo que el consumidor dice, y no lo que omite<br/>
	<input type="radio" name="8" value="-1">no interesa lo que el consumidor dice, sino lo que hace</fieldset><br/>

        <fieldset>
              <legend> <label><strong>9- Desde el punto de vista del enfoque estructuralista la comercialización es</strong></label></legend>
        
        <input type="radio" name="9" value="-1">un proceso de investigación y producción<br/>
	<input type="radio" name="9" value="-1">un proceso de satisfacción al consumidor<br/>
	<input type="radio" name="9" value="-1">un proceso de creción de valor<br/>
	<input type="radio" name="9" value="2">un proceso de comunicación</fieldset><br/>
       
        <fieldset>
              <legend> <label><strong>10- El enfoque estructuralista propone un nivel semántico que</strong></label></legend>
        
              <input type="radio" name="10" value="2">es la calidad, coherencia, de la información enviada<br/>
	<input type="radio" name="10" value="-1">es la calidad, coherencia de la información recolectada<br/>
	<input type="radio" name="10" value="-1">es la calidad, coherencia de la investigación realizada<br/>
	<input type="radio" name="10" value="-1">todas las opciones son correctas</fieldset><br/>

   <!--autoevaluación 1-->
        
        <div align="center">
        <input type="submit" value="Enviar autoevaluación" class="boton"/></div>
        <br/><br/>
        
</FORM>
</article>
   </section>