<meta name= "Descripción" content="Autoevaluación canales de distribución"/>

<title>Autoevaluación Canales de Distribución</title>

<?php
		require TEMPLATE_PATH.'/Analytics.php';?>


</head>

<body>
<div id="contenedor">

	<div id="menu_izquierda">
		<?php
		require TEMPLATE_PATH.'/menu.php';
		?>
	</div>
<div id="principal">

<h1>Autoevaluación Canales de distribución</h1><br>



<FORM name="f3" method="POST" action="index.php?pagina=autoevaluacion_resultado">
	<input type="hidden" name="0" value="Canales_distribución">
        
        <label for="Apellido">Apellido</label>
          <input type="text" name="Apellido" value="" />
      
          <label for="nombre">Nombre</label>
          <input type="text" name="nombre" value="" /><br /><br/>

		<label>1-Los canales de distribución cumplen las siguientes funciones entre otras </label><br/>
	<input type="radio" name="1" value="-1">información, promoción, contacto y posicionamiento<br/>
	<input type="radio" name="1" value="-1">información, promoción, segmentación y contacto <br/>
	<input type="radio" name="1" value="2">información, promoción, contacto y financiación<br/>
	<input type="radio" name="1" value="-1">investigación, desarrollo de producto, promoción y contacto<br/><br/>
	

	<label>2- Los flujos de la distribución son</label><br/>
	<input type="radio" name="2" value="-1">De título de la propiedad, producto físico, de pedidos, financiero y de promoción<br/>
	<input type="radio" name="2" value="2">De título de la propiedad, producto físico, de pedidos, financiero y de información<br/>
	<input type="radio" name="2" value="-1">De rentabilidad, de producto físico, de pedidos, financiero y de información<br/>
	<input type="radio" name="2" value="-1">De rentabilidad, producto físico, de pedidos, financiero y de promoción<br/><br/>

	
	<label>3- Las ventajas de los sistemas globales de distribución, son entre otras</label><br/>
	<input type="radio" name="3" value="-1">La heterogeneidad de la oferta turística entre los distintos agentes<br/>
	<input type="radio" name="3" value="-1">La homogeneidad de la oferta turística entre los distintos agentes<br/>
	<input type="radio" name="3" value="-1">El surtido de la cartera de productos y el aumento de la productividad<br/>
	<input type="radio" name="3" value="2">ninguna de las respuestas es correcta <br/><br/>

	
	<label>4- Las desventajas de los sistemas globales de distribución, son entre otras </label><br/>
	<input type="radio" name="4" value="-1">La homogeneidad de la oferta turística y el aumento de la competencia entre agencias<br/>
	<input type="radio" name="4" value="2">La reducción de comisiones, la perdida de control y la amenaza de desintermediación<br/>
	<input type="radio" name="4" value="-1">El exceso de oferta turística y la reducción de comisiones<br/>
	<input type="radio" name="4" value="-1">La 1 y la 2 son correctas<br/><br/>



	
	<label>5-Un conflicto vertical en el canal sucede cuando </label><br/>
	<input type="radio" name="5" value="-1">Dos fabricantes compiten por la venta a un mayorista<br/>
	<input type="radio" name="5" value="-1">Dos mayorista compiten por la venta a un minorista<br/>
	<input type="radio" name="5" value="2">El fabricante y un mayorista compite por la venta a un minorista<br/>
	<input type="radio" name="5" value="-1">La dos y la tres son correctas<br/><br/>

	
	<label>6- La estructura o configuración del canal puede ser por medio de un </label><br/>
	<input type="radio" name="6" value="-1">Sistema de distribución personal o automatizada<br/>
	<input type="radio" name="6" value="-1">Sistema de distribución mayorista, minorista o mixta<br/>
	<input type="radio" name="6" value="-1">Sistema de distribución directa, alternativa o mixta<br/>
	<input type="radio" name="6" value="2">Sistema de distribución directa, indirecta o mixta<br/><br/>


	
	<label>7-Las 4 tipologías de los productos en los mercados de consumo son </label><br/>
	<input type="radio" name="7" value="-1">corriente, reflexiva, especialidad y buscados<br/>
	<input type="radio" name="7" value="2">corriente, reflexiva, especialidad y no buscados<br/>
	<input type="radio" name="7" value="-1">corriente, frecuente, especialidad y no buscados<br/>
	<input type="radio" name="7" value="-1">comparada, reflexiva, especialidad y no buscados<br/><br/>

	
	<label>8- Las estrategias posibles de cobertura de mercado son</label><br/>
	<input type="radio" name="8" value="2">Distribución intensiva, selectiva o exclusiva<br/>
	<input type="radio" name="8" value="-1">Distribución intensiva, segmentada o exclusiva<br/>
	<input type="radio" name="8" value="-1">Distribución activa, pasiva o mixta<br/>
	<input type="radio" name="8" value="-1">Distribución masiva, específica o mixta<br/><br/>

	
	<label>9- Una franquicia es un sistema de distribución</label><br/>
	<input type="radio" name="9" value="-1">integrado horizontalmente con un contrato<br/>
	<input type="radio" name="9" value="2">integrado verticalmente con un contrato<br/>
	<input type="radio" name="9" value="-1">integrado verticalmente por una única empresa<br/>
	<input type="radio" name="9" value="-1">integrado horizontalmente por una única empresa<br/><br/>


	
	<label>10-Las estrategias de comunicación al canal pueden ser </label><br/>
	<input type="radio" name="10" value="-1">promoción en el punto de venta o medios masivos de comunicación<br/>
	<input type="radio" name="10" value="-1">comunicación masiva o exclusiva<br/>
        <input type="radio" name="10" value="2">De presión(push) De aspiración (pull) o mixta<br/>
	<input type="radio" name="10" value="-1">Todas las opciones son correctas<br/><br/>
	

	<input type="submit" value="Enviar autoevaluación" />
</FORM>


</div><!--principal-->

