<meta name= "Description" content="Estrategias didacticas para fomentar, incentivar el aprendizaje activo, la participación de los estudiantes y elevar la calidad académica"/>
<title>Resultado de la autoevaluación</title>

<?php
		require TEMPLATE_PATH.'/Analytics.php';?>
</head>

<div id="contenedor">



	<div id="menu_izquierda">
		<?php
		require TEMPLATE_PATH.'/menu.php';
		?>
	</div>
<div id="principal">
	<h2> Resultado del examen parcial</h2> <br /><br />
            
<?php
// devolver la suma del array y dividir por dos
// guardar las respuestas en un txt

$preg_1 = $_POST["1"];
$preg_2 = $_POST["2"];
$preg_3 = $_POST["3"];
$preg_4 = $_POST["4"];
$preg_5 = $_POST["5"];
$preg_6 = $_POST["6"];
$preg_7 = $_POST["7"];
$preg_8 = $_POST["8"];
$preg_9 = $_POST["9"];
$preg_10 = $_POST["10"];
$preg_11 = $_POST["11"];
$preg_12 = $_POST["12"];
$preg_13 = $_POST["13"];
$preg_14 = $_POST["14"];
$preg_15 = $_POST["15"];
$preg_16 = $_POST["16"];
$preg_17 = $_POST["17"];
$preg_18 = $_POST["18"];
$nota = $preg_1+$preg_2+$preg_3+$preg_4+$preg_5+$preg_6+$preg_7+$preg_8+$preg_9+$preg_10
+$preg_11+$preg_12+$preg_13+$preg_14+$preg_15+$preg_16+$preg_17+$preg_18;
$arch = "examenes.txt";
$file = fopen($arch, 'a');
$datofecha= date("d-m-Y");
$nombre = $_POST["nombre"];
$apellido = $_POST["apellido"];
?>
<p><strong>
    <?php
echo $datofecha . "<br>";
echo $nombre . " " . $apellido ."<br/> <br/>";?></strong>
</p>
  
<?php
if($file){

		$error =0;

		foreach($_POST as $key=>$val){

			$word = strlen($val);
		
			$escrito = fwrite($file,$val.";");

			if($escrito < $word){

				$error++;
			}
		}

		if($error == 0){

			fwrite($file, "\r\n");
                        
		}else{

			echo ("Error de escritura");
		}
                
		fclose($file);
	}

if(($nota) < 8)
	{

		echo "<center> Te recomendamos que seguias estudiando o lo intentes nuevamente. " . "<strong> Tu puntaje total es de " . ($nota)/2 . "</strong></center><br/> <br/>";

	}else if ((($nota) >= 8) and (($nota) < 16)) {

		echo "<center> Felicitaciones superaste la autoevaluación." . "<strong> Tu puntaje total es de " . ($nota)/2 . "</strong></center><br/> <br/>";
	
	}else{

		echo "<center> Excelente superaste la autoevaluación." . "<strong> Tu puntaje total es de " . ($nota)/2 . "</strong></center><br/> <br/>";
	
	}
        ?>

<br>




     

            
    <br>
   
    
    <table class="tabla_evaluacion2" summary="Tabla evaluación">

     <tr>
                <th>Pregunta</th>
                <th>Respuesta</th>
                <th>Evaluación</th>
            </tr>
            
            <tr>
                <td>
            1.1- En la era del marketing digital se pasa de un marketing de interrupción a un marketing atracción        
                </td>
                <td>
                <?php
if(($preg_1) == -0.2)
    {
    echo "Falso";
    
    }else if (($preg_1) == 0.4){
    echo "Verdadero";
    
    }else
    { echo"No contesta la pregunta";
    }?>    
                </td>
                <td>
                    <?php
                   if(($preg_1) == -0.2)
    {
    echo '<img src="imagenes/incorrecto.jpg" width="30" height="30" alt="gráfico respuesta incorrecta" title="Respuesta incorrecta">';
    
    }else if (($preg_1) == 0.4){
    echo '<img src="imagenes/correcto.jpg" width="30" height="30" alt="gráfico respuesta correcta" title="Respuesta Correcta">';
    
    }else
    { echo" ";
    }
?> 
                </td>
            </tr>
            <tr>
                
                <td>1.2- El posicionamiento web, es el lugar que ocupa la página web de una empresa en la mente del consumidor potencial</td>
                    
                <td>
                    <?php
    
    if(($preg_1) == -0.2)
    {
    echo "Falso";
    
    }else if (($preg_1) == 0.4){
    echo "Verdadero";
    
    }else
    { echo"No contesta la pregunta";
    }
    
                   ?>
                </td>
                <td>
                    <?php
                   if(($preg_2) == -0.2)
    {
    echo '<img src="imagenes/incorrecto.jpg" width="30" height="30" alt="gráfico respuesta incorrecta" title="Respuesta incorrecta">';
    
    }else if (($preg_2) == 0.4){
    echo '<img src="imagenes/correcto.jpg" width="30" height="30" alt="gráfico respuesta correcta" title="Respuesta Correcta">';
    
    }else
    ?>  
                </td>
    </tr>
    
     <tr>
                <td>
                1.3- Para mejorar el ranking en los resultados de un motor de búsqueda se debe desarrollar contenidos atractivos para los usuarios    
                </td>
                <td><?php
                 if(($preg_3) == -0.2)
    {
    echo "Falso";
    
    }else if (($preg_3) == 0.4){
    echo "Verdadero";
    
    }else
    { echo"No contesta la pregunta";
    }?>       
                </td>
                <td>
                 <?php
                    if(($preg_3) == -0.2)
    {
    echo '<img src="imagenes/incorrecto.jpg" width="30" height="30" alt="gráfico respuesta incorrecta" title="Respuesta incorrecta">';
    
    }else if (($preg_3) == 0.4){
    echo '<img src="imagenes/correcto.jpg" width="30" height="30" alt="gráfico respuesta correcta" title="Respuesta Correcta">';
    
    }else
    { echo" ";
    }
                    ?>   
                </td>
            </tr>
             <tr>
                <td>
                  1.4- El posicionamiento SEM es gratuito  
                </td>
                <td><?php
                  if(($preg_4) == -0.2)
    {
    echo "Falso";
    
    }else if (($preg_4) == 0.4){
    echo "Verdadero";
    
    }else
    { echo"No contesta la pregunta";
    }?>      
                </td>
                <td>
                   <?php
                    if(($preg_4) == -0.2)
    {
    echo '<img src="imagenes/incorrecto.jpg" width="30" height="30" alt="gráfico respuesta incorrecta" title="Respuesta incorrecta">';
    
    }else if (($preg_4) == 0.4){
    echo '<img src="imagenes/correcto.jpg" width="30" height="30" alt="gráfico respuesta correcta" title="Respuesta Correcta">';
    
    }else
    { echo" ";
    }
                    ?> 
                </td>
            </tr>
             <tr>
                <td>
                 1.5- La estructura de navegación de un sitio web no incide en el ordenamiento que realiza un motor de búsqueda en la web   
                </td>
                <td><?php
                  if(($preg_5) == -0.2)
    {
    echo "Falso";
    
    }else if (($preg_5) == 0.4){
    echo "Verdadero";
    
    }else
    { echo"No contesta la pregunta";
    }?>      
                </td>
                <td>
                  <?php
                    if(($preg_5) == -0.2)
    {
    echo '<img src="imagenes/incorrecto.jpg" width="30" height="30" alt="gráfico respuesta incorrecta" title="Respuesta incorrecta">';
    
    }else if (($preg_5) == 0.4){
    echo '<img src="imagenes/correcto.jpg" width="30" height="30" alt="gráfico respuesta correcta" title="Respuesta Correcta">';
    
    }else
    { echo" ";
    }
                    ?>  
                </td>
            </tr>
             <tr>
                <td>
                  1.6- La publicidad de interrupción primero llama la atención, luego interrumpen y luego venden la interrupción  
                </td>
                <td><?php
                   if(($preg_6) == -0.2)
    {
    echo "Falso";
    
    }else if (($preg_6) == 0.4){
    echo "Verdadero";
    
    }else
    { echo"No contesta la pregunta";
    }?>     
                </td>
                <td>
                 <?php
                    if(($preg_6) == -0.2)
    {
    echo '<img src="imagenes/incorrecto.jpg" width="30" height="30" alt="gráfico respuesta incorrecta" title="Respuesta incorrecta">';
    
    }else if (($preg_6) == 0.4){
    echo '<img src="imagenes/correcto.jpg" width="30" height="30" alt="gráfico respuesta correcta" title="Respuesta Correcta">';
    
    }else
    { echo" ";
    }
                    ?>   
                </td>
            </tr>
             <tr>
                <td>
                 1.7- Según el autor de Internet marketing 2.0 el termino espectador ha tomado mayor importancia  
                </td>
                <td><?php
                  if(($preg_7) == -0.2)
    {
    echo "Falso";
    
    }else if (($preg_7) == 0.4){
    echo "Verdadero";
    
    }else
    { echo"No contesta la pregunta";
    }?>      
                </td>
                <td>
                  <?php
                    if(($preg_7) == -0.2)
    {
    echo '<img src="imagenes/incorrecto.jpg" width="30" height="30" alt="gráfico respuesta incorrecta" title="Respuesta incorrecta">';
    
    }else if (($preg_7) == 0.4){
    echo '<img src="imagenes/correcto.jpg" width="30" height="30" alt="gráfico respuesta correcta" title="Respuesta Correcta">';
    
    }else
    { echo" ";
    }
                    ?>  
                </td>
            </tr>
             <tr>
                <td>
               1.8-  La satisfacción del cliente depende en gran medida de las expectativas     
                </td>
                <td><?php
                  if(($preg_8) == -0.2)
    {
    echo "Falso";
    
    }else if (($preg_8) == 0.4){
    echo "Verdadero";
    
    }else
    { echo"No contesta la pregunta";
    }?>      
                </td>
                <td>
                 <?php
                    if(($preg_8) == -0.2)
    {
    echo '<img src="imagenes/incorrecto.jpg" width="30" height="30" alt="gráfico respuesta incorrecta" title="Respuesta incorrecta">';
    
    }else if (($preg_8) == 0.4){
    echo '<img src="imagenes/correcto.jpg" width="30" height="30" alt="gráfico respuesta correcta" title="Respuesta Correcta">';
    
    }else
    { echo" ";
    }
                    ?>   
                </td>
            </tr>
             <tr>
                <td>
                  1.9- La fidelidad del cliente determina la probabilidad de que vuelva a contratar los servicios de la empresa  
                </td>
                <td><?php
                 if(($preg_9) == -0.2)
    {
    echo "Falso";
    
    }else if (($preg_9) == 0.4){
    echo "Verdadero";
    
    }else
    { echo"No contesta la pregunta";
    }?>       
                </td>
                <td>
              <?php
                    if(($preg_9) == -0.2)
    {
    echo '<img src="imagenes/incorrecto.jpg" width="30" height="30" alt="gráfico respuesta incorrecta" title="Respuesta incorrecta">';
    
    }else if (($preg_9) == 0.4){
    echo '<img src="imagenes/correcto.jpg" width="30" height="30" alt="gráfico respuesta correcta" title="Respuesta Correcta">';
    
    }else
    { echo" ";
    }
                    ?>      
                </td>
            </tr>
             <tr>
                <td>
                   1.1o- El marketing relacional se fundamente en 3 pilares, los clientes, los empleados y la competencia  
                </td>
                <td><?php
                   if(($preg_10) == -0.2)
    {
    echo "Falso";
    
    }else if (($preg_10) == 0.4){
    echo "Verdadero";
    
    }else
    { echo"No contesta la pregunta";
    }?>     
                </td>
                <td>
                  <?php
                    if(($preg_10) == -0.2)
    {
    echo '<img src="imagenes/incorrecto.jpg" width="30" height="30" alt="gráfico respuesta incorrecta" title="Respuesta incorrecta">';
    
    }else if (($preg_10) == 0.4){
    echo '<img src="imagenes/correcto.jpg" width="30" height="30" alt="gráfico respuesta correcta" title="Respuesta Correcta">';
    
    }else
    { echo" ";
    }
                    ?>  
                </td></tr>
             
             <tr>
                 <td>
                  2.1- El posicionamiento SEO consiste en   
                 </td>
                 <td>
                     
                 </td>
                 <td>
                   <?php
                    if(($preg_11) == -1)
    {
    echo '<img src="imagenes/incorrecto.jpg" width="30" height="30" alt="gráfico respuesta incorrecta" title="Respuesta incorrecta">';
    
    }else if (($preg_11) == 2){
    echo '<img src="imagenes/correcto.jpg" width="30" height="30" alt="gráfico respuesta correcta" title="Respuesta Correcta">';
    
    }else
    { echo" ";
    }
                    ?>  
                 </td>
             </tr>
             <tr>
                 <td>
                    2.2- El posicionamiento SEM consiste en 
                 </td>
                 <td>
                     
                 </td>
                 <td>
                  <?php
                    if(($preg_12) == -1)
    {
    echo '<img src="imagenes/incorrecto.jpg" width="30" height="30" alt="gráfico respuesta incorrecta" title="Respuesta incorrecta">';
    
    }else if (($preg_12) == 2){
    echo '<img src="imagenes/correcto.jpg" width="30" height="30" alt="gráfico respuesta correcta" title="Respuesta Correcta">';
    
    }else
    { echo" ";
    }
                    ?>   
                 </td>
             </tr>
             <tr>
                 <td>
                     2.3- Las estrategias de posicionamiento SEO y SEM
                 </td>
                 <td>
                     
                 </td>
                 <td>
                  <?php
                    if(($preg_13) == -1)
    {
    echo '<img src="imagenes/incorrecto.jpg" width="30" height="30" alt="gráfico respuesta incorrecta" title="Respuesta incorrecta">';
    
    }else if (($preg_13) == 2){
    echo '<img src="imagenes/correcto.jpg" width="30" height="30" alt="gráfico respuesta correcta" title="Respuesta Correcta">';
    
    }else
    { echo" ";
    }
                    ?>   
                 </td>
             </tr>
             <tr>
                 <td>
                   2.4- La análitica web mide el rendimiento de un sitio web con disitintas métricas, ¿Cuál de las siguientes no es una de ellas?
                 </td>
                 <td>
                     
                 </td>
                 <td>
                  <?php
                    if(($preg_14) == -1)
    {
    echo '<img src="imagenes/incorrecto.jpg" width="30" height="30" alt="gráfico respuesta incorrecta" title="Respuesta incorrecta">';
    
    }else if (($preg_14) == 2){
    echo '<img src="imagenes/correcto.jpg" width="30" height="30" alt="gráfico respuesta correcta" title="Respuesta Correcta">';
    
    }else
    { echo" ";
    }
                    ?>  
                 </td>
             </tr>
             <tr>
                 <td>
                    3.1- Berry propone 5 elementos para el desarrollo del marketing relacional ¿Cuál no corresponde? 
                 </td>
                 <td>
                     
                 </td>
                 <td>
                  <?php
                    if(($preg_15) == -1)
    {
    echo '<img src="imagenes/incorrecto.jpg" width="30" height="30" alt="gráfico respuesta incorrecta" title="Respuesta incorrecta">';
    
    }else if (($preg_15) == 2){
    echo '<img src="imagenes/correcto.jpg" width="30" height="30" alt="gráfico respuesta correcta" title="Respuesta Correcta">';
    
    }else
    { echo" ";
    }
                    ?>   
                 </td>
             </tr>
             <tr>
                 <td>
                     3.2- Los tres tipos de marketing de servicios cumplen una función en relación a las promesas
                 </td>
                 <td>
                     
                 </td>
                 <td>
                   <?php
                    if(($preg_16) == -1)
    {
    echo '<img src="imagenes/incorrecto.jpg" width="30" height="30" alt="gráfico respuesta incorrecta" title="Respuesta incorrecta">';
    
    }else if (($preg_16) == 2){
    echo '<img src="imagenes/correcto.jpg" width="30" height="30" alt="gráfico respuesta correcta" title="Respuesta Correcta">';
    
    }else
    { echo" ";
    }
                    ?>  
                 </td>
             </tr>
             <tr>
                 <td>
                3.3- Los pilares del marketing relacional son     
                 </td>
                 <td>
                     
                 </td>
                 <td>
                  <?php
                    if(($preg_17) == -1)
    {
    echo '<img src="imagenes/incorrecto.jpg" width="30" height="30" alt="gráfico respuesta incorrecta" title="Respuesta incorrecta">';
    
    }else if (($preg_17) == 2){
    echo '<img src="imagenes/correcto.jpg" width="30" height="30" alt="gráfico respuesta correcta" title="Respuesta Correcta">';
    
    }else
    { echo" ";
    }
                    ?>   
                 </td>
             </tr>
             <tr>
                 <td>
                 3.4- Según la tipología un programa de fidelización puede ofrecer recompensas    
                 </td>
                 <td>
                     
                 </td>
                 <td>
                  <?php
                    if(($preg_18) == -1)
    {
    echo '<img src="imagenes/incorrecto.jpg" width="30" height="30" alt="gráfico respuesta incorrecta" title="Respuesta incorrecta">';
    
    }else if (($preg_18) == 2){
    echo '<img src="imagenes/correcto.jpg" width="30" height="30" alt="gráfico respuesta correcta" title="Respuesta Correcta">';
    
    }else
    { echo" ";
    }
                    ?>   
                 </td>
             </tr>
             
            </table>

<br /><br />

</div><!--principal-->

