<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1"><meta charset="UTF-8"/>
<meta name="Description" content="Autoevaluación Introducción a la negociación basada en principios"/>

<title>Autoevaluación sobre Liderazgo</title>

<link href="css/multiColumnTemplate.css" rel="stylesheet" type="text/css">
<link href="css/tablas.css" rel="stylesheet" type="text/css">
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

<?php
		require TEMPLATE_PATH.'/Analytics.php';?>
</head><!--autoevaluación 1-->

<body>
<div class="container">
  <header class="main-header">
    <div class="primary_header">
      <a href="index.php"><span><h1 class="title">Aprendizaje Activo</h1></span></a>
    </div>
    <nav class="secondary_header" id="menu">
      <?php
		require TEMPLATE_PATH.'/menu_comer2_home.php';
		?>
    </nav>
  </header>
  <section>
    <h2 class="noDisplay">Main Content</h2>
    
    <article class="left_article">
		
		<h3>Autoevaluación sobre liderazgo</h3>
	
		

<form name="f3" method="POST" action="index.php?pagina=autoevaluacion_resultado">
<input type="hidden" name="20" value=" <?php echo date("d-m-Y");?>">
       <input type="hidden" name="0" value="cv2_01">

<label for="Apellido"><strong>Apellido</strong></label>
          <input type="text" name="Apellido" value="" />
      
          <label for="nombre"><strong>Nombre</strong></label>
          <input type="text" name="nombre" value="" /><br /><br/>

          <fieldset>
              <legend> <label><strong>1- El liderazgo es el proceso de: </strong></label></legend>


<input type="radio" name="1" value="-1">autoridad entre líderes y seguidores para lograr los objetivos organizacionales por medio del cambio<br/>
<input type="radio" name="1" value="-1">influencia entre líderes y seguidores para llevar a la organización al primer lugar<br/>
<input type="radio" name="1" value="2">influencia entre líderes y seguidores para lograr los objetivos organizacionales por medio del cambio<br/>
<input type="radio" name="1" value="-1">persuaciónf entre líderes y seguidores para lograr los objetivos organizacionales por medio del cambio</fieldset><br>

 
 <fieldset>
              <legend> <label><strong>2- Los elementos clave del liderazgo son, los objetivos organizacionales,</strong></label></legend>
 
 <input type="radio" name="2" value="-1">Autoridad, Personas, Cambio y Líderes y seguidores<br/>
<input type="radio" name="2" value="-1">Persuación, Personas, Cambio y Líderes y seguidores<br/>
<input type="radio" name="2" value="-1">Poder, Personas, Cambio y Líderes y seguidores<br/>
<input type="radio" name="2" value="2">Influencia, Personas, Cambio y Líderes y seguidores</fieldset><br>

 
 <fieldset>
              <legend> <label><strong>3- Según la opinión de Vince Lombardi ¿Los líderes naces o se hacen?</strong></label></legend>
 
<input type="radio" name="3" value="-1">Los líderes nacen y se desarrollan con esfuerzo y trabajo arduo <br/>
<input type="radio" name="3" value="-1">Los líderes nacen y se hacen con esfuerzo y trabajo arduo<br/>
<input type="radio" name="3" value="2">Los líderes no nacen, se hacen con esfuerzo y trabajo arduo<br/>
<input type="radio" name="3" value="-1">Todas las opciones son correctas</fieldset><br>

 
 <fieldset>
              <legend> <label><strong>4-Los roles gerenciales pueden ser agrupados en</strong></label></legend>
 
 <input type="radio" name="4" value="2">Interpersonales, Informativos y de decisión<br/>
<input type="radio" name="4" value="-1">Interpersonales, Persuasivos y de decisión<br/>
<input type="radio" name="4" value="-1">Interpersonales, Informativos y de contención<br/>
<input type="radio" name="4" value="-1">Conducción, Informativos y de contención</fieldset><br>

 
 <fieldset>
              <legend> <label><strong>5- Según la teoría de los rasgos ¿Los líderes nacen o se hacen?</strong></label></legend>
 
<input type="radio" name="5" value="-1">Los líderes nacen y se hacen<br/>
<input type="radio" name="5" value="-1">Los líderes no nacen, se hacen<br/>
<input type="radio" name="5" value="2">Los líderes nacen y no se hacen<br/>
<input type="radio" name="5" value="-1">Ninguna opción es correcta</fieldset><br>


<fieldset>
              <legend> <label><strong>6- El poder es la influencia potencial del líder sobre los seguidores y sus fuentes son:</strong></label></legend>
 
 <input type="radio" name="6" value="2">La posición y el poder personal<br/>
 <input type="radio" name="6" value="-1">Recompensa y Coerción<br/>
 <input type="radio" name="6" value="-1">La posición y la Coerción<br/>
 <input type="radio" name="6" value="-1">La recompensa y el poder personal</fieldset><br>

<fieldset>
              <legend> <label><strong>7- El poder legítimo se base en:</strong></label></legend>
 
 <input type="radio" name="7" value="2">La posición en la cadena de mando de quien lo ostenta<br/>
 <input type="radio" name="7" value="-1">El conocimiento experto y liderazgo de quien lo ostenta<br/>
 <input type="radio" name="7" value="-1">El poder personal derivado del carisma de quien lo ostenta<br/>
 <input type="radio" name="7" value="-1">La opción 1 y 2 son correctas</fieldset><br>

 
 <fieldset>
              <legend> <label><strong>8- La política es:</strong></label></legend>
 

 <input type="radio" name="8" value="-1">La administración y distribución del poder<br/>
<input type="radio" name="8" value="-1">El uso y la delegación de poder<br/>
<input type="radio" name="8" value="2">El proceso de ganar y utilizar el poder<br/>
<input type="radio" name="8" value="-1">El proceso de ganar y conservar el poder</fieldset><br>

 
 <fieldset>
              <legend> <label><strong>9- Entre los lineamientos para desarrollar habilidades políticas se encuentran:</strong></label></legend>
 

<input type="radio" name="9" value="-1">Aprender la cultura organizacional y quiénes son las personas con poder<br/>
<input type="radio" name="9" value="-1">Desarrollar buenas relaciones de trabajo en especial con su gerente<br/>
<input type="radio" name="9" value="-1">Ser un jugador de equipo leal y honesto<br/>
<input type="radio" name="9" value="2">Todas las opciones son correctas</fieldset><br>

 
 <fieldset>
              <legend> <label><strong>10- El poder, la política y la creación de redes comparten un mismo propósito:</strong></label></legend>

<input type="radio" name="10" value="2">Construir vínculos para ayudarle a lograr sus objetivos<br/>
<input type="radio" name="10" value="-1">Construir vínculos para lograr los objetivos de la organización<br/>
<input type="radio" name="10" value="-1">Desarrollar su liderazgo para lograr sus objetivos<br/>
<input type="radio" name="10" value="-1">Desarrollar su liderzgo para lograr los objetivos de la organización</fieldset><br>
<div align="center">
        <input type="submit" value="Enviar autoevaluación" class="boton"/></div>
        <br/><br/>    
</form>
</article>
   </section> 
  
  