<meta charset="UTF-8"/>
<meta name= "Descripción" content="Autoevaluación Estrategias empresariales , Estrategia corporativa, integración vertical y horizontal"/>

<title>Autoevaluación Estrategias Empresariales Estrategia corporativa, integración vertical y horizontal</title>

<?php
		require TEMPLATE_PATH.'/Analytics.php';?>

</head>


<div id="contenedor">
<body>

	<div id="menu_izquierda">
		<?php
		require TEMPLATE_PATH.'/menu.php';
		?>
	</div>

<div id="principal">
    
    <h1>Estrategias Empresariales: Autoevaluación Estrategia corporativa, integración vertical y horizontal</h1>

<br/>

<FORM name="f3" method="POST" action="index.php?pagina=autoevaluacion_resultado">
<input type="hidden" name="0" value="ee_07">

<label for="Apellido">Apellido</label>
          <input type="text" name="Apellido" value="" />
      
          <label for="nombre">Nombre</label>
          <input type="text" name="nombre" value="" /><br /><br/>



 <label>1-¿Cuál de las siguientes opciones no es una barrera de ingreso?</label><br/>

 <input type="radio" name="1" value="-1">Acceso a canales de distribución<br/>

 <input type="radio" name="1" value="2">Costos fijos elevados<br/>

 <input type="radio" name="1" value="-1">Diferenciación de producto<br/>

 <input type="radio" name="1" value="-1">Economías de escala<br/><br/> 

 <label>2-¿Cuál de las siguentes opciones es un factor estructural de la rivalidad competitiva?</label><br/>

 <input type="radio" name="2" value="-1">Productos estándar o no diferenciados<br/>

 <input type="radio" name="2" value="-1">Existencia de pocos sustitutos<br/>

 <input type="radio" name="2" value="-1">Altos requisitos de capital<br/>

 <input type="radio" name="2" value="2">Fuertes barreras de salidad<br/><br/> 

 <label>3-¿Cuál de las siguientes opciones no es una barrera de salida?</label><br/>

 <input type="radio" name="3" value="2">Costos fijos elevados<br/>

 <input type="radio" name="3" value="-1">Interrelaciones estratégicas<br/>

 <input type="radio" name="3" value="-1">Activos especializados<br/>

 <input type="radio" name="3" value="-1">Barreras emocionales<br/><br/> 

 <label>4-Uno de los factores determinantes del poder de los compradores es que</label><br/>

 <input type="radio" name="4" value="-1">Existen altos costos fijos<br/>

 <input type="radio" name="4" value="-1">Existencia de pocos sustitutos validos<br/>

 <input type="radio" name="4" value="-1">Existencia de muchos productos complementarios<br/>

 <input type="radio" name="4" value="2">Los productos del proveedor son estándar o no diferenciados<br/> <br/> 

 <label>5-Entre los principales determinantes del poder negociador de los proveedores se encuentran</label><br/>

 <input type="radio" name="5" value="2">La existencia de pocos sustitutos, pocos proveedores, insumo muy importante para el comprador, proveedor altamente diferenciado<br/>

 <input type="radio" name="5" value="-1">La existencia de sustitutos, pocos proveedores, insumo muy importante para el comprador, proveedor altamente diferenciado<br/>

 <input type="radio" name="5" value="-1">La existencia de pocos sustitutos, pocos proveedores, insumo muy importante para el comprador, proveedor no diferenciado<br/>

 <input type="radio" name="5" value="-1">La existencia de pocos sustitutos, pocos proveedores,insumo de importancia relativa para el comprador, proveedor altamente diferenciado<br/><br/> 

 <label>6- cuando las barreras de ingreso y de salida son altas el rendimiento es</label><br/>

 <input type="radio" name="6" value="2">elevado y riesgoso<br/>

 <input type="radio" name="6" value="-1">bajo y estable<br/>

 <input type="radio" name="6" value="-1">elevados y estables<br/>

 <input type="radio" name="6" value="-1">bajos y riesgosos<br/><br/> 

 <label>7- Si el objetivo estrategico es sólo un sector industrial y la ventaja estrategica es la exclusividad percibida por el cliente</label><br/>

 <input type="radio" name="7" value="2">la empresa esta implementando una estrategia de enfoque o alta segmentación<br/> 

 <input type="radio" name="7" value="-1">la empresa esta implementando una estrategia de diferenciación<br/> 

 <input type="radio" name="7" value="-1">la empresa esta implentando una estrategia de liderazgo general en costos<br/>

 <input type="radio" name="7" value="-1">la opción 1 y 2 son correctas<br/><br/> 

 <label>8-La curva U de Porter muestra la relación entre</label><br/>

 <input type="radio" name="8" value="2">el rendimiento de la inversión y la participación en el mercado<br/>

 <input type="radio" name="8" value="-1">el grado de diferenciación y la participación en el mercado<br/>

 <input type="radio" name="8" value="-1">el tamaño del sector industrial y la participación en mercado<br/>

 <input type="radio" name="8" value="-1">el rendimiento de la inversión y el volumen de ventas<br/><br/> 


 
 <label>9- Porter en su análisis de las estrategias genéricas plantea tres alternativas</label><br/>

 <input type="radio" name="9" value="-1">Liderazgo en costos, diferenciación o estrategia<br/>

 <input type="radio" name="9" value="-1">Liderazgo de producto, diferenciación o distribución<br/>

 <input type="radio" name="9" value="-1">Liderazgo de precio, diferenciación o enfoque<br/>

 <input type="radio" name="9" value="2">Liderazgo en costos, diferenciación o enfoque<br/><br/> 

 <label>10- Del análisis de la curva U de Porter se concluye que una posición en extremo desfavorable es</label><br/>

 <input type="radio" name="10" value="-1">Posicionamiento bajo<br/>

 <input type="radio" name="10" value="-1">Posicionamiento alto<br/>

 <input type="radio" name="10" value="2">Posicionamiento a la mitad<br/>

 <input type="radio" name="10" value="-1">la opción 1 y 3 son verdaderas<br/><br/> 
 
 

	<input type="submit" value="Enviar autoevaluación" /><br/><br/>
</FORM>
    
    
</div>
