<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1"><meta charset="UTF-8"/>
<meta name="Description" content="Estrategias Empresariales: Autoevaluación Análisis Interno"/>

<title>Estrategias Empresariales: Autoevaluación Análisis Interno</title>

<link href="css/multiColumnTemplate.css" rel="stylesheet" type="text/css">
<link href="css/tablas.css" rel="stylesheet" type="text/css">
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

<?php
		require TEMPLATE_PATH.'/Analytics.php';?>
</head><!--autoevaluación 1-->

<body>
<div class="container">
  <header>
    <div class="primary_header">
      <a href="index.php"><span><h1 class="title">Aprendizaje Activo</h1></span></a>
    </div>
    <nav class="secondary_header" id="menu">
      <?php
		require TEMPLATE_PATH.'/menu.php';
		?>
    </nav>
  </header>
  <section>
    <h2 class="noDisplay">Main Content</h2>
    
    <article class="left_article">
<h3>Estrategias Empresariales: Autoevaluación Análisis Interno</h3>


<form name="f3" method="POST" action="index.php?pagina=autoevaluacion_resultado">
<input type="hidden" name="20" value=" <?php echo date("d-m-Y");?>">
    <input type="hidden" name="0" value="ee_03">


<label for="Apellido"><strong>Apellido</strong></label>
          <input type="text" name="Apellido" value="" />
      
          <label for="nombre"><strong>Nombre</strong></label>
          <input type="text" name="nombre" value="" /><br /><br/>



<fieldset>
    <legend> 
        <label><strong>1-La visión basada en los recursos para la ventaja competitiva
            </strong></label></legend>
 <input type="radio" name="1" value="-1">Clasifica los recursos en cuatro categorías, físicos, tecnológicos, humanos y organizacionales<br/>
 <input type="radio" name="1" value="2">Clasifica los recursos en tres categorías, físicos, humanos y organizacionales<br/>
 <input type="radio" name="1" value="-1">Clasifica los recursos en tres categorías, físicos, humanos y tecnológicos<br/>
 <input type="radio" name="1" value="-1">Clasifica los recursos en cuatro categorías, físicos, intangibles, humanos y organizacionales</fieldset><br> 

<fieldset>
    <legend> 
        <label><strong>2-La cultura organizacional debe ser incluida en la auditoria interna ya que
            </strong></label></legend>
 <input type="radio" name="2" value="-1">Puede ser una fortaleza significativa<br/>
 <input type="radio" name="2" value="-1">Puede ser una debilidad significativa<br/>
 <input type="radio" name="2" value="-1">Puede inhibir la administración estratégica<br/>
 <input type="radio" name="2" value="2">Todas las opciones son correctas</fieldset><br> 

<fieldset>
    <legend> 
        <label><strong>3-La administración desarrolla cinco actividades básicas
            </strong></label></legend>
 <input type="radio" name="3" value="2">Planeación, organización, dirección, integración de personal y control<br/>
 <input type="radio" name="3" value="-1">Planeación, organización, dirección y control<br/>
 <input type="radio" name="3" value="-1">Planeación, organización, dirección, marketing y control<br/>
 <input type="radio" name="3" value="-1">Planeación, organización, dirección, finanzas y control</fieldset><br> 

<fieldset>
    <legend> 
        <label><strong>4-La función de control debe establecer normas de desempeño, medir el desempeño individual y organizacional,
            </strong></label></legend>
 <input type="radio" name="4" value="-1">Emprender acciones correctivas<br/>
 <input type="radio" name="4" value="-1">Comparar el desempeño real con las normas de desempeño establecido<br/>
 <input type="radio" name="4" value="2">Comparar el desempeño real con las normas de desempeño establecido y emprender acciones correctivas<br/>
 <input type="radio" name="4" value="-1">Ninguna de las opciones es correcta</fieldset><br>  

<fieldset>
    <legend> 
        <label><strong>5-Un indicador de liquidez esta formado por la razón entre
            </strong></label></legend>
 <input type="radio" name="5" value="2">Activos actuales o corrientes y pasivos actuales o corrientes<br/>
 <input type="radio" name="5" value="-1">Activos actuales o corrientes y el capital de los accionistas<br/>
 <input type="radio" name="5" value="-1">Activos actuales o corrientes y ventas anuales<br/>
 <input type="radio" name="5" value="-1">Activos actuales o corrientes y el activo no corriente</fieldset><br> 

<fieldset>
    <legend> 
        <label><strong>6- Un indicador de endeudamiento esta formado por la razón entre
            </strong></label></legend>
 <input type="radio" name="6" value="-1">Total de la deuda y capital de los accionistas<br/>
 <input type="radio" name="6" value="-1">Total de la deuda y las ventas anuales a crédico<br/>
 <input type="radio" name="6" value="2">Total de la deuda y total de activo<br/>
 <input type="radio" name="6" value="-1">Total de la deuda y el inventario de bienes terminados</fieldset><br> 

<fieldset>
    <legend> 
        <label><strong>7- El análisis de la cadena de valor se refiere al proceso por el cual una empresa
            </strong></label></legend>
 <input type="radio" name="7" value="2">determina fortalezas y debilidades<br/> 
 <input type="radio" name="7" value="-1">determina amenazas y oportunidades<br/> 
 <input type="radio" name="7" value="-1">decide la ejecución de nuevos proyectos<br/>
 <input type="radio" name="7" value="-1">decide su estrategia funcional</fieldset><br> 

<fieldset>
    <legend> 
        <label><strong>8- El benchmarking es un proceso que pretende:
            </strong></label></legend>
 <input type="radio" name="8" value="2">determinar las "mejores prácticas" en una industria dada para mejorar los procesos de la organización<br/>
 <input type="radio" name="8" value="-1">determinar los "costos más bajos" en una industra dada para implementarlos en la organización<br/>
 <input type="radio" name="8" value="-1">determinar los "niveles de rentabilidad" en una industria dada para fijarlos como objetivos de la organización<br/>
 <input type="radio" name="8" value="-1">todas las opciones son correctas</fieldset><br> 

<fieldset>
    <legend> 
        <label><strong>9-La matriz de evaluación de factores internos (EFI) asigna a cada factor una ponderación que
            </strong></label></legend>
 <input type="radio" name="9" value="-1">indica si dicho factor es una fortaleza o una debilidad<br/>
 <input type="radio" name="9" value="-1">indica si dicho factor eliminado de la cadena de valor<br/>
 <input type="radio" name="9" value="-1">indica si dicho factor es un recurso escaso o abundante en la industria<br/>
 <input type="radio" name="9" value="2">indica la importancia de dicho factor para alcanzar el éxito en esa industria</fieldset><br>  

<fieldset>
    <legend> 
        <label><strong>10- Si el puntaje obtenido en la matriz de evaluación de factores internos (EFI) es de 3
            </strong></label></legend>
 <input type="radio" name="10" value="-1">la organización tiene un un balance interno débil<br/>
 <input type="radio" name="10" value="-1">la organización tiene un un balance interno equilibrado<br/>
 <input type="radio" name="10" value="2">la organización tiene un balance interno positivo<br/>
 <input type="radio" name="10" value="-1">ninguna de las opciones es correcta</fieldset><br> 
 
 

	<div align="center">
        <input type="submit" value="Enviar autoevaluación" class="boton"/></div>
        <br/><br/>
        
</form>
</article>
    
  </section>
  
  <div class="social">
    <p class="social_icon"><img src="imagenes/botones/google.png" width="100" alt="" class="thumbnail"/></p>
    <p class="social_icon"><img src="imagenes/botones/twit.png" width="100" alt="" class="thumbnail"/></p>
    <p class="social_icon"><img src="imagenes/botones/face.png" width="100" alt="" class="thumbnail"/></p>
    <p class="social_icon"><img src="imagenes/botones/linkedin.png" width="100" alt="" class="thumbnail"/></p>
  </div>
  <footer class="secondary_header footer">
    <div class="copyright">&copy;2016 - <strong>Aprendizaje Activo</strong></div>
  </footer>
</div><!--container-->
</body>
</html>
