<meta name= "Description" content="Conocimientos previos para comercialización, costos fijos y variables, punto de equilibrio"/>
<title>Conocimientos previos para comercialización</title>


<?php
		require TEMPLATE_PATH.'/Analytics.php';?>
</head>


<body>
    

<div id="contenedor">

	<div id="menu_izquierda">
		<?php
		require TEMPLATE_PATH.'/menu.php';
		?>
	</div>
<div id="principal">
	<h1>Conocimientos Previos para Comercialización</h1> <br /><br />
	<br /><br />

<table class="tabla">
            <tr>
                <th>Unidad</th>
                <th>Descripción</th>
                <th>Link</th>
            </tr>
            <tr>
                <td>Unidad 9</td>
                <td>
                    Costos
                </td>
                <td><a href="index.php?pagina=costos_fijos_variables" Title="Costos fijos y variales conceptos y ejemplos">Ver</a></td>
                </tr>
                <td>Unidad 9</td>
                <td>
                    Punto de Equilibrio
                </td>
                <td><a href="index.php?pagina=punto_equilibrio" title="Tutorial sobre punto de equilibrio">Ver</a></td>
            </tr>
        </table>
        <br>
        <br>
</div><!--principal-->
