
<meta name= "Descripción" content="Estrategias didacticas para fomentar, e
      incentivar el aprendizaje activo, la participación de los estudiantes 
      y elevar la calidad académica"/>
<title>Aprendizaja Activo: Estrategias de Enseñanza y Aprendizaje</title>



<?php
		require TEMPLATE_PATH.'/Analytics.php';?>
</head>
<body>
    <div id="contenedor">
       
        <div id="menu_izquierda">
            <?php
		require TEMPLATE_PATH.'/menu.php';
		?>
        </div>
        
        <div id="principal">
            <h1> Proyecto de gestión del conocimiento</h1> <br />
	
<center> <img src="imagenes/conocimiento.png" alt="proyecto de gestión del conocimiento" title="Imagen de proyecto de gestión del conocimiento"> </center>


        </div>
