<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Registro</title>

<link href="css/multiColumnTemplate.css" rel="stylesheet" type="text/css">
<link href="css/formulario.css" rel="stylesheet" type="text/css">
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <?php
		require TEMPLATE_PATH.'/Analytics.php';?>
</head>
<body>
<div class="container">
<header class="main-header">
    <div class="primary_header">
      <a href="index.php"><span><h1 class="title">Aprendizaje Activo</h1></span></a>
    </div>
    <nav class="secondary_header" id="menu">
      <?php
		require TEMPLATE_PATH.'/menu.php';?>
        
    </nav>
  </header>
  <section>
    <h2 class="noDisplay">Main Content</h2>
    
    <article class="left_article">
        <h3> Registrate en el curso para acceder al material de estudio</h3>
	
  <form class="contact_form" name="f3" method="POST" action="index.php?pagina=admin_alta_estudiantes_reg">



<ul><li> <label>Nombre:</label></td>
        <td><input type="text" name="nombre" value="" /> </li>
      
      <li><label>Apellido:</label>
        <input type="text" name="apellido" value="" /> </li>
          
          <li> <label>Mail:</label></td>
        <td><input type="text" name="mail" value="" /> </li>
    
           <li>  <label>Asignatura</label>
        <select name="asignatura">
<option value="" selected> ... </option>
<!--
<option value="CV_1">Comercialización y Ventas 1</option>
<option value="CV_2">Comercialización y Ventas 2</option>
<option value="24071">Desarrollo Profesional</option>
<option value="23259">Gestión Empresarial 1</option>
<option value="23630">Estrategias Empresariales</option>
<option value="23737">Incubadora de Negocios 1</option>
<option value="23738">Incubadora de Negocios 2</option>
<option value="20458">Investigación de Mercados</option>
<option value="23735">Negocios de Moda 1</option>
<option value="23736">Negocios de Moda 2</option>
<option value="20458">Recursos Humanos I</option>
<option value="22581">Taller Integral 1</option>
<option value="23263">Técnicas de Investigación</option>
<option value="23763">Administración</option>
<option value="23627" >Ciencias Económics y Políticas<option>
<option value="21197" >Comercialización 1</option>
<option value="21203" >Comercialización 2</option>
-->
</select> </li>
            
            <li> <label>Turno</label>
        <select name="turno">
<option value="" selected> ... </option>
<option value="1">Mañana </option>
<option value="2" >Tarde</option>
<option value="3" >Noche</option>

</select></li></ul>



<br/>

 <div align="center">
        <button class="submit" type="submit" value="Enviar" >Registrar</button></div>

<br/><br/><br/><br/>
	
	
	
</form>
</aside>
</article>
</section>