<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name= "Description" content="Matriz de la Planeación Estratégica Cuantitativa"/>
<meta name="keywords" content="Matriz de la Planeación Estratégica Cuantitativa, mpec ">
<title>Matriz de la Planeación Estratégica Cuantitativa: Etapa de Decisión</title>
<link href="css/multiColumnTemplate.css" rel="stylesheet" type="text/css">
<link href="css/tablas.css" rel="stylesheet" type="text/css">
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


	
	 <!-- You can use Open Graph tags to customize link previews.
    Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
  <meta property="og:url"           content="https://aprendizajeactivo.com.ar/index.php?pagina=curso_estrategias_empresariales_mpec&utm_source=MPEC_Face&utm_medium=MPEC_Face&utm_campaign=MPEC_Face&utm_term=MPEC_Face&utm_content=MPEC_Face" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Matriz de decisión MPEC" />
  <meta property="og:description"   content="Como seleccionar la mejor estrategía utilizadon la Matriz MPEC" />
  <meta property="og:image" content="https://aprendizajeactivo.com.ar/imagenes/Matriz_Mpec_I.png" />
	
	<meta property="og:image:width" content="100" />
<meta property="og:image:height" content="" />
    
    <?php
		require TEMPLATE_PATH.'/Analytics.php';?>
</head><!--comercialización_1-->
<body>
	
	
	<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v7.0" nonce="IW40QDoV"></script>
	
	
<div class="container">
  <header class="main-header">
    <div class="primary_header">
      <a href="index.php"><span><h1 class="title">Aprendizaje Activo</h1></span></a>
    </div>
    <nav class="secondary_header" id="menu">
      <?php
		require TEMPLATE_PATH.'/menu_estrategia.php';?>
        
    </nav>
  </header>
  <section>
    <h2 class="noDisplay">Main Content</h2>
    
    <article class="left_article">
        <h3> Curso de Estrategias Empresariales</h3>
	
<p>La matriz de Planeación Estratégica Cuantitativa forma parte de la etapa de decisión, permite comparar las alternativas estrategias porpuestas en el análisis FODA y determinar cuál se ajusta mejor al estado de situación. 
    <br>
    En el siguiente video se muestra el paso a paso para la elaboración de la MPEC.<br>
    
    <a href="archivos/ee_matriz_mpec.xlsx" onClick="ga('send', 'event', 'Descarga', 'click', 'Matriz_MPEC_xls', 1 );">Descargar la Matriz de la Planeación Estratégica Cuantitativa</a>
    </p>
		
		
		<div class="fb-share-button" data-href="https://aprendizajeactivo.com.ar/index.php?pagina=curso_estrategias_empresariales_mpec&amp;utm_source=MPEC_Face&amp;utm_medium=MPEC_Face&amp;utm_campaign=MPEC_Face&amp;utm_term=MPEC_Face&amp;utm_content=MPEC_Face" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Faprendizajeactivo.com.ar%2Findex.php%3Fpagina%3Dcurso_estrategias_empresariales_mpec%26utm_source%3DMPEC_Face%26utm_medium%3DMPEC_Face%26utm_campaign%3DMPEC_Face%26utm_term%3DMPEC_Face%26utm_content%3DMPEC_Face&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Compartir</a></div>

   <br><br><center><div class="video-responsive">
<iframe width="853" height="480" src="https://www.youtube.com/embed/ddQHpD-hCWM" frameborder="0" allowfullscreen></iframe></div>
</center>
    
<br><br>
    

    </article>
</section>
  <!--
   <div class="row">
    <div class="columns">
    <a href="index.php?pagina=punto_equilibrio">
      <p class="thumbnail_align"> <img src="imagenes/bkg_06.jpg" alt="" class="thumbnail"/> </p>
      <h4>Punto Equilibrio</h4></a>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
    </div>
    <div class="columns">
      <p class="thumbnail_align"> <img src="imagenes/bkg_06.jpg" alt="" class="thumbnail"/> </p>
      <h4>TITLE</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
    </div>
    <div class="columns">
      <p class="thumbnail_align"> <img src="imagenes/bkg_06.jpg" alt="" class="thumbnail"/> </p>
      <h4>TITLE</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
    </div>
    <div class="columns">
      <p class="thumbnail_align"> <img src="imagenes/bkg_06.jpg" alt="" class="thumbnail"/> </p>
      <h4>TITLE</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
    </div>
  </div>
  -->
  