<meta name= "Descripción" content="Cursos de marketing y publicidad"/>
<title>Aprendizaja Activo: Estrategias de Enseñanza y Aprendizaje</title>



<?php
		require TEMPLATE_PATH.'/Analytics.php';?>
</head>
<body>
    <div id="contenedor">
       
        <div id="menu_izquierda">
            <?php
		require TEMPLATE_PATH.'/menu.php';
		?>
        </div>
        
        <div id="principal">
            <h1>Cursos disponibles</h1> <br /><br />
	
<br /><br />
        
        <div id="fila1">
            <div id="f1c1"> 
                <a class="formatolink" href="index.php?pagina=comercializacion_1">
                Presentaciones en línea<br>Prezzi </a> </div>
            
            <div id="f1c2">
                <a class="formatolink" href="index.php?pagina=comercializacion_1">
                Mapas Conceptual<br>Bubble</a>
            </div>
            
            <div id="f1c3"> 
                <a class="formatolink" href="index.php?pagina=comercializacion_1">
                Diagramas de flujo<br>gliffy </a>
</div>
        </div>
<br /><br />
<div id="fila2"> 

            <div id="f2c1"> 
                <a class="formatolink" href="index.php?pagina=comercializacion_1">
                Comercialización 2 </a>
            </div>

            <div id="f2c2"> 
            <a class="formatolink" href="index.php?pagina=comercializacion_1">
                Comercialización 2 </a>
            </div>
            <div id="f2c3"> 
            <a class="formatolink" href="index.php?pagina=comercializacion_1">
                Wikis </a>
            </div>

</div>

<br /><br />




        </div>