<!doctype html>
<html>
<head>


<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1"><meta name= "Description" content="Esta págna muestra el resultado de la autoevaluación realizada por el estudiante sobre los temas de marketing, administración estrategias empresariales e investigación de mercados"/>
<title>Resultado Evaluación Parcial</title>
<link href="css/multiColumnTemplate.css" rel="stylesheet" type="text/css">
<link href="css/tablas.css" rel="stylesheet" type="text/css">
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

<?php
		require TEMPLATE_PATH.'/Analytics.php';?>

</head>

<body>
<div class="container">
  <header class="main-header">
    <div class="primary_header">
      <a href="index.php"><span><h1 class="title">Aprendizaje Activo</h1></span></a>
    </div>
    <nav class="secondary_header" id="menu">
      <?php
		require TEMPLATE_PATH.'/menu.php';
		
        
        
        session_start();
	if(!isset($_SESSION["usuario"])){
        header("location: ../index.php?pagina=admin_sesion_error");
        }
?>
    </nav>
  </header>
  <section>
    <h2 class="noDisplay">Main Content</h2>
    
    <article class="left_article">
        <h3> Resultado autoevaluación</h3>
<?php

       require "config/db.config.php";
        
        $conexion=mysqli_connect($db_host,$db_usuario,$db_clave,$db_nombre);
       
        if(mysqli_connect_errno()){
        
            echo "Fallo al conectar con la Base de datos";
            exit();
        
       }
        
        mysqli_set_charset($conexion, "utf8");
	

echo $usuario;
echo "hola";
?>
        
        <?php 
$consulta="SELECT * FROM auto_evaluacion";

$resultados=mysqli_query($conexion, $consulta);
        

$apellido=$fila[apellido];
$nombre =$fila[nombre];
$preg1=$fila[preg_1];
$preg2=$fila[preg_2];
$preg3=$fila[preg_3];
$preg4=$fila[preg_4];
$preg5=$fila[preg_5];
$preg6=$fila[preg_6];
$preg7=$fila[preg_7];
$preg8=$fila[preg_8];
$preg9=$fila[preg_9];
$preg10=$fila[preg_10];
$preg11=$fila[preg_11];
$preg12=$fila[preg_12];
$preg13=$fila[preg_13];
$preg14=$fila[preg_14];
$preg15=$fila[preg_15];
$preg16=$fila[preg_16];
$preg17=$fila[preg_17];
$preg18=$fila[preg_18];
$preg19=$fila[preg_19];
$preg20=$fila[preg_20];
$preg21=$fila[preg_21];
$preg22=$fila[preg_22];
$preg23=$fila[preg_23];
$preg24=$fila[preg_24];
$preg25=$fila[preg_25];
$preg26=$fila[preg_26];
$preg27=$fila[preg_27];
$preg28=$fila[preg_28];
$preg29=$fila[preg_29];
$preg30=$fila[preg_30];
$preg31=$fila[preg_31];
$preg32=$fila[preg_32];
$preg33=$fila[preg_33];
$preg34=$fila[preg_34];
$preg35=$fila[preg_35];
$preg36=$fila[preg_36];
$nota = $preg1+$preg2+$preg3+$preg4+$preg5+$preg6+$preg7+$preg8+$preg9+$preg10+
$preg11+$preg12+$preg13+$preg14+$preg15+$preg16+$preg17+$preg18+$preg19+$preg20+$preg21+$preg22+$preg23+$preg24+$preg25+$preg26+$preg27+$preg28+$preg29+$preg30+$preg31+$preg32+$preg33+$preg34+$preg35+$preg36;


   while(($fila=mysqli_fetch_array($resultados))==true) {
        
$apellido=$fila[apellido];
$nombre =$fila[nombre];
$preg1=$fila[preg_1];
$preg2=$fila[preg_2];
$preg3=$fila[preg_3];
$preg4=$fila[preg_4];
$preg5=$fila[preg_5];
$preg6=$fila[preg_6];
$preg7=$fila[preg_7];
$preg8=$fila[preg_8];
$preg9=$fila[preg_9];
$preg10=$fila[preg_10];
$preg11=$fila[preg_11];
$preg12=$fila[preg_12];
$preg13=$fila[preg_13];
$preg14=$fila[preg_14];
$preg15=$fila[preg_15];
$preg16=$fila[preg_16];
$preg17=$fila[preg_17];
$preg18=$fila[preg_18];
$preg19=$fila[preg_19];
$preg20=$fila[preg_20];
$preg21=$fila[preg_21];
$preg22=$fila[preg_22];
$preg23=$fila[preg_23];
$preg24=$fila[preg_24];
$preg25=$fila[preg_25];
$preg26=$fila[preg_26];
$preg27=$fila[preg_27];
$preg28=$fila[preg_28];
$preg29=$fila[preg_29];
$preg30=$fila[preg_30];
$preg31=$fila[preg_31];
$preg32=$fila[preg_32];
$preg33=$fila[preg_33];
$preg34=$fila[preg_34];
$preg35=$fila[preg_35];
$preg36=$fila[preg_36];
$nota = $preg1+$preg2+$preg3+$preg4+$preg5+$preg6+$preg7+$preg8+$preg9+$preg10+
$preg11+$preg12+$preg13+$preg14+$preg15+$preg16+$preg17+$preg18+$preg19+$preg20+$preg21+$preg22+$preg23+$preg24+$preg25+$preg26+$preg27+$preg28+$preg29+$preg30+$preg31+$preg32+$preg33+$preg34+$preg35+$preg36;


echo "<center>". $nombre . ": Tu no del segundo parcial es: " . ($nota)/100 . "<br/> <br/>Podes ver el detalle de la evaluación a continuación:</center>";
       }



?>

<br><br><h3> Resultado Verdadero Falso</h3>
          <table class="tabla_evaluacion" summary="Tabla evaluación">

     <tr>
                <th>Pregunta</th>
                <th>Respuesta</th>
                <th>Pregunta</th>
                <th>Respuesta</th>
            </tr>
            <tr>
                <td>1</td>
                    
                <td><?php
            if(($preg1) == -5)
    {
    echo '<img src="imagenes/incorrecto.jpg" width="30" height="30" alt="gráfico respuesta incorrecta" title="Respuesta incorrecta">';
    
    }else if (($preg1) == 10){
    echo '<img src="imagenes/correcto.jpg" width="30" height="30" alt="gráfico respuesta correcta" title="Respuesta Correcta">';
    
    }else
    { echo" ";
    }

    ?>
               
                </td>
                <td>11</td>
                <td><?php
                        if(($preg11) == -5)
    {
    echo '<img src="imagenes/incorrecto.jpg" width="30" height="30" alt="gráfico respuesta incorrecta" title="Respuesta incorrecta">';
    
    }else if (($preg11) == 10){
    echo '<img src="imagenes/correcto.jpg" width="30" height="30" alt="gráfico respuesta correcta" title="Respuesta Correcta">';
    
    }else
    { echo" ";
    }
                   
                    ?></td>
            </tr>
            <tr>
                <td>2</td>
                    
                <td><?php
                    if(($preg2) == -5)
    {
    echo '<img src="imagenes/incorrecto.jpg" width="30" height="30" alt="gráfico respuesta incorrecta" title="Respuesta incorrecta">';
    
    }else if (($preg2) == 10){
    echo '<img src="imagenes/correcto.jpg" width="30" height="30" alt="gráfico respuesta correcta" title="Respuesta Correcta">';
    
    }else
    { echo" ";
    }
                    ?></td>
                
                <td>12</td>
                <td><?php
                    if(($preg12) == -5)
    {
    echo '<img src="imagenes/incorrecto.jpg" width="30" height="30" alt="gráfico respuesta incorrecta" title="Respuesta incorrecta">';
    
    }else if (($preg12) == 10){
    echo '<img src="imagenes/correcto.jpg" width="30" height="30" alt="gráfico respuesta correcta" title="Respuesta Correcta">';
    
    }else
    { echo" ";
    }
                    ?></td>
            </tr>
            <tr>
                <td>3</td>
                    
                <td><?php
                    if(($preg3) == -5)
    {
    echo '<img src="imagenes/incorrecto.jpg" width="30" height="30" alt="gráfico respuesta incorrecta" title="Respuesta incorrecta">';
    
    }else if (($preg3) == 10){
    echo '<img src="imagenes/correcto.jpg" width="30" height="30" alt="gráfico respuesta correcta" title="Respuesta Correcta">';
    
    }else
    { echo" ";
    }
                    ?></td>
                <td>13</td>
                <td><?php
                    if(($preg13) == -5)
    {
    echo '<img src="imagenes/incorrecto.jpg" width="30" height="30" alt="gráfico respuesta incorrecta" title="Respuesta incorrecta">';
    
    }else if (($preg13) == 10){
    echo '<img src="imagenes/correcto.jpg" width="30" height="30" alt="gráfico respuesta correcta" title="Respuesta Correcta">';
    
    }else
    { echo" ";
    }
                    ?></td>
            </tr>
            <tr>
                <td>4</td>
                    
                <td><?php
                if(($preg4) == -5)
    {
    echo '<img src="imagenes/incorrecto.jpg" width="30" height="30" alt="gráfico respuesta incorrecta" title="Respuesta incorrecta">';
    
    }else if (($preg4) == 10){
    echo '<img src="imagenes/correcto.jpg" width="30" height="30" alt="gráfico respuesta correcta" title="Respuesta Correcta">';
    
    }else
    { echo" ";
    }
                   ?> </td>
                <td>14</td>
                <td><?php
                    if(($preg14) == -5)
    {
    echo '<img src="imagenes/incorrecto.jpg" width="30" height="30" alt="gráfico respuesta incorrecta" title="Respuesta incorrecta">';
    
    }else if (($preg14) == 10){
    echo '<img src="imagenes/correcto.jpg" width="30" height="30" alt="gráfico respuesta correcta" title="Respuesta Correcta">';
    
    }else
    { echo" ";
    }
                ?></td>
            </tr>
            <tr>
                <td>5</td>
                    
                <td><?php
                    if(($preg5) == -5)
    {
    echo '<img src="imagenes/incorrecto.jpg" width="30" height="30" alt="gráfico respuesta incorrecta" title="Respuesta incorrecta">';
    
    }else if (($preg5) == 10){
    echo '<img src="imagenes/correcto.jpg" width="30" height="30" alt="gráfico respuesta correcta" title="Respuesta Correcta">';
    
    }else
    { echo" ";
    }
                    ?></td>
                <td>15</td>
                <td><?php
                    if(($preg15) == -5)
    {
    echo '<img src="imagenes/incorrecto.jpg" width="30" height="30" alt="gráfico respuesta incorrecta" title="Respuesta incorrecta">';
    
    }else if (($preg15) == 10){
    echo '<img src="imagenes/correcto.jpg" width="30" height="30" alt="gráfico respuesta correcta" title="Respuesta Correcta">';
    
    }else
    { echo" ";
    }
                    ?></td>
            </tr>
              
              
              
              
               <tr>
                <td>6</td>
                    
                <td><?php
            if(($preg6) == -5)
    {
    echo '<img src="imagenes/incorrecto.jpg" width="30" height="30" alt="gráfico respuesta incorrecta" title="Respuesta incorrecta">';
    
    }else if (($preg6) == 10){
    echo '<img src="imagenes/correcto.jpg" width="30" height="30" alt="gráfico respuesta correcta" title="Respuesta Correcta">';
    
    }else
    { echo" ";
    }

    ?>
               
                </td>
                <td>16</td>
                <td><?php
                        if(($preg16) == -5)
    {
    echo '<img src="imagenes/incorrecto.jpg" width="30" height="30" alt="gráfico respuesta incorrecta" title="Respuesta incorrecta">';
    
    }else if (($preg16) == 10){
    echo '<img src="imagenes/correcto.jpg" width="30" height="30" alt="gráfico respuesta correcta" title="Respuesta Correcta">';
    
    }else
    { echo" ";
    }
                   
                    ?></td>
            </tr>
            <tr>
                <td>7</td>
                    
                <td><?php
                    if(($preg7) == -5)
    {
    echo '<img src="imagenes/incorrecto.jpg" width="30" height="30" alt="gráfico respuesta incorrecta" title="Respuesta incorrecta">';
    
    }else if (($preg7) == 10){
    echo '<img src="imagenes/correcto.jpg" width="30" height="30" alt="gráfico respuesta correcta" title="Respuesta Correcta">';
    
    }else
    { echo" ";
    }
                    ?></td>
                
                <td>17</td>
                <td><?php
                    if(($preg17) == -5)
    {
    echo '<img src="imagenes/incorrecto.jpg" width="30" height="30" alt="gráfico respuesta incorrecta" title="Respuesta incorrecta">';
    
    }else if (($preg17) == 10){
    echo '<img src="imagenes/correcto.jpg" width="30" height="30" alt="gráfico respuesta correcta" title="Respuesta Correcta">';
    
    }else
    { echo" ";
    }
                    ?></td>
            </tr>
            <tr>
                <td>8</td>
                    
                <td><?php
                    if(($preg8) == -5)
    {
    echo '<img src="imagenes/incorrecto.jpg" width="30" height="30" alt="gráfico respuesta incorrecta" title="Respuesta incorrecta">';
    
    }else if (($preg8) == 10){
    echo '<img src="imagenes/correcto.jpg" width="30" height="30" alt="gráfico respuesta correcta" title="Respuesta Correcta">';
    
    }else
    { echo" ";
    }
                    ?></td>
                <td>18</td>
                <td><?php
                    if(($preg18) == -5)
    {
    echo '<img src="imagenes/incorrecto.jpg" width="30" height="30" alt="gráfico respuesta incorrecta" title="Respuesta incorrecta">';
    
    }else if (($preg18) == 10){
    echo '<img src="imagenes/correcto.jpg" width="30" height="30" alt="gráfico respuesta correcta" title="Respuesta Correcta">';
    
    }else
    { echo" ";
    }
                    ?></td>
            </tr>
            <tr>
                <td>9</td>
                    
                <td><?php
                if(($preg9) == -5)
    {
    echo '<img src="imagenes/incorrecto.jpg" width="30" height="30" alt="gráfico respuesta incorrecta" title="Respuesta incorrecta">';
    
    }else if (($preg9) == 10){
    echo '<img src="imagenes/correcto.jpg" width="30" height="30" alt="gráfico respuesta correcta" title="Respuesta Correcta">';
    
    }else
    { echo" ";
    }
                   ?> </td>
                <td>19</td>
                <td><?php
                    if(($preg19) == -5)
    {
    echo '<img src="imagenes/incorrecto.jpg" width="30" height="30" alt="gráfico respuesta incorrecta" title="Respuesta incorrecta">';
    
    }else if (($preg19) == 10){
    echo '<img src="imagenes/correcto.jpg" width="30" height="30" alt="gráfico respuesta correcta" title="Respuesta Correcta">';
    
    }else
    { echo" ";
    }
                ?></td>
            </tr>
            <tr>
                <td>10</td>
                    
                <td><?php
                    if(($preg10) == -5)
    {
    echo '<img src="imagenes/incorrecto.jpg" width="30" height="30" alt="gráfico respuesta incorrecta" title="Respuesta incorrecta">';
    
    }else if (($preg10) == 10){
    echo '<img src="imagenes/correcto.jpg" width="30" height="30" alt="gráfico respuesta correcta" title="Respuesta Correcta">';
    
    }else
    { echo" ";
    }
                    ?></td>
                <td>20</td>
                <td><?php
                    if(($preg20) == -5)
    {
    echo '<img src="imagenes/incorrecto.jpg" width="30" height="30" alt="gráfico respuesta incorrecta" title="Respuesta incorrecta">';
    
    }else if (($preg20) == 10){
    echo '<img src="imagenes/correcto.jpg" width="30" height="30" alt="gráfico respuesta correcta" title="Respuesta Correcta">';
    
    }else
    { echo" ";
    }
                    ?></td>
            </tr>
            </table>
        
    <br><br> <h3> Resultado Opciones múltiples</h3>    
        
          <table class="tabla_evaluacion" summary="Tabla evaluación">

     <tr>
                <th>Pregunta</th>
                <th>Respuesta</th>
                <th>Pregunta</th>
                <th>Respuesta</th>
            </tr>
            <tr>
                <td>1</td>
                    
                <td><?php
            if(($preg21) == -25)
    {
    echo '<img src="imagenes/incorrecto.jpg" width="30" height="30" alt="gráfico respuesta incorrecta" title="Respuesta incorrecta">';
    
    }else if (($preg21) == 50){
    echo '<img src="imagenes/correcto.jpg" width="30" height="30" alt="gráfico respuesta correcta" title="Respuesta Correcta">';
    
    }else
    { echo" ";
    }

    ?>
               
                </td>
                <td>6</td>
                <td><?php
                        if(($preg26) == -25)
    {
    echo '<img src="imagenes/incorrecto.jpg" width="30" height="30" alt="gráfico respuesta incorrecta" title="Respuesta incorrecta">';
    
    }else if (($preg26) == 50){
    echo '<img src="imagenes/correcto.jpg" width="30" height="30" alt="gráfico respuesta correcta" title="Respuesta Correcta">';
    
    }else
    { echo" ";
    }
                   
                    ?></td>
            </tr>
            <tr>
                <td>2</td>
                    
                <td><?php
                    if(($preg22) == -25)
    {
    echo '<img src="imagenes/incorrecto.jpg" width="30" height="30" alt="gráfico respuesta incorrecta" title="Respuesta incorrecta">';
    
    }else if (($preg22) == 50){
    echo '<img src="imagenes/correcto.jpg" width="30" height="30" alt="gráfico respuesta correcta" title="Respuesta Correcta">';
    
    }else
    { echo" ";
    }
                    ?></td>
                
                <td>7</td>
                <td><?php
                    if(($preg27) == -25)
    {
    echo '<img src="imagenes/incorrecto.jpg" width="30" height="30" alt="gráfico respuesta incorrecta" title="Respuesta incorrecta">';
    
    }else if (($preg27) == 50){
    echo '<img src="imagenes/correcto.jpg" width="30" height="30" alt="gráfico respuesta correcta" title="Respuesta Correcta">';
    
    }else
    { echo" ";
    }
                    ?></td>
            </tr>
            <tr>
                <td>3</td>
                    
                <td><?php
                    if(($preg23) == -25)
    {
    echo '<img src="imagenes/incorrecto.jpg" width="30" height="30" alt="gráfico respuesta incorrecta" title="Respuesta incorrecta">';
    
    }else if (($preg23) == 50){
    echo '<img src="imagenes/correcto.jpg" width="30" height="30" alt="gráfico respuesta correcta" title="Respuesta Correcta">';
    
    }else
    { echo" ";
    }
                    ?></td>
                <td>8</td>
                <td><?php
                    if(($preg28) == -25)
    {
    echo '<img src="imagenes/incorrecto.jpg" width="30" height="30" alt="gráfico respuesta incorrecta" title="Respuesta incorrecta">';
    
    }else if (($preg28) == 50){
    echo '<img src="imagenes/correcto.jpg" width="30" height="30" alt="gráfico respuesta correcta" title="Respuesta Correcta">';
    
    }else
    { echo" ";
    }
                    ?></td>
            </tr>
            <tr>
                <td>4</td>
                    
                <td><?php
                if(($preg24) == -25)
    {
    echo '<img src="imagenes/incorrecto.jpg" width="30" height="30" alt="gráfico respuesta incorrecta" title="Respuesta incorrecta">';
    
    }else if (($preg24) == 50){
    echo '<img src="imagenes/correcto.jpg" width="30" height="30" alt="gráfico respuesta correcta" title="Respuesta Correcta">';
    
    }else
    { echo" ";
    }
                   ?> </td>
                <td>9</td>
                <td><?php
                    if(($preg29) == -25)
    {
    echo '<img src="imagenes/incorrecto.jpg" width="30" height="30" alt="gráfico respuesta incorrecta" title="Respuesta incorrecta">';
    
    }else if (($preg29) == 50){
    echo '<img src="imagenes/correcto.jpg" width="30" height="30" alt="gráfico respuesta correcta" title="Respuesta Correcta">';
    
    }else
    { echo" ";
    }
                ?></td>
            </tr>
            <tr>
                <td>5</td>
                    
                <td><?php
                    if(($preg25) == -25)
    {
    echo '<img src="imagenes/incorrecto.jpg" width="30" height="30" alt="gráfico respuesta incorrecta" title="Respuesta incorrecta">';
    
    }else if (($preg25) == 50){
    echo '<img src="imagenes/correcto.jpg" width="30" height="30" alt="gráfico respuesta correcta" title="Respuesta Correcta">';
    
    }else
    { echo" ";
    }
                    ?></td>
                <td>10</td>
                <td><?php
                    if(($preg30) == -25)
    {
    echo '<img src="imagenes/incorrecto.jpg" width="30" height="30" alt="gráfico respuesta incorrecta" title="Respuesta incorrecta">';
    
    }else if (($preg30) == 50){
    echo '<img src="imagenes/correcto.jpg" width="30" height="30" alt="gráfico respuesta correcta" title="Respuesta Correcta">';
    
    }else
    { echo" ";
    }
                    ?></td>
            </tr>
            </table>
        
        
<br><br>
        
        
        <fieldset>
              <legend> <label><strong>1-1: Un anuncio es considerado como una pieza de publicidad sí, es una comunicación paga, se transmite por medios masivos y su único fin es promover la venta.</strong></label></legend>
              
        <input type="radio" name="1-1" value="-5">Verdadero<br/>
        <input type="radio" name="1-1" value="10">Falso<br/> 
            
            <?php
            if(($preg1) == -5)
    {
    echo '<img src="imagenes/incorrecto.jpg" width="30" height="30" alt="gráfico respuesta incorrecta" title="Respuesta incorrecta">';
    
    }else if (($preg1) == 10){
    echo '<img src="imagenes/correcto.jpg" width="30" height="30" alt="gráfico respuesta correcta" title="Respuesta Correcta">';
    
    }else
    { echo" ";
    }

    ?>
            
            
	</fieldset><br>
        
        
        
        
        
 <aside class="right_article"> <a title="Curso Comercialización 1" href="index.php?pagina=curso_comercializacion_1"><img src="imagenes/comercializacion_1.jpg" alt="" width="400" height="200" class="placeholder"/> </a></aside>
   <aside class="right_article"> <a title="Curso Comercialización 2" href="index.php?pagina=curso_comercializacion_2"><img src="imagenes/comercializacion_2.jpg" alt="" width="400" height="200" class="placeholder"/> </a></aside>
   
   <aside class="right_article"> <a title="Curso Estrategias Empresariales" href="index.php?pagina=curso_estrategias_empresariales"><img src="imagenes/estrategias_empresariales.jpg" alt="" width="400" height="200" class="placeholder"/> </a></aside>
       
       <aside class="right_article"> <a title="Investigación de Mercados" href="index.php?pagina=curso_investigacion_mercados"><img src="imagenes/investigacion_mercados.jpg" alt="" width="400" height="200" class="placeholder"/> </a></aside>
   <aside class="right_article"> <a title="Curso Comercialización y Ventas 1" href="index.php?pagina=curso_comercializacion_ventas_1"><img src="imagenes/comercializacion_ventas_1.jpg" alt="" width="400" height="200" class="placeholder"/> </a></aside>
   
   <aside class="right_article"> <a title="Curso Comercialización y Ventas 2" href="index.php?pagina=curso_comercializacion_ventas_2"><img src="imagenes/comercializacion_ventas_2.jpg" alt="" width="400" height="200" class="placeholder"/> </a></aside>

    </article>
    </section>