<html>
	<head>
	<meta name= "Descripción" content="Estrategias didacticas para fomentar, incentivar el aprendizaje activo, la participación de los estudiantes y elevar la calidad académica"/>
<title>Bienvenido al sitio Aprendizaja Activo</title>
<?php
		require TEMPLATE_PATH.'/Analytics.php';?>
</head>

<div id="contenedor">



	<div id="menu_izquierda">
		<?php
		require TEMPLATE_PATH.'/menu.php';
		?>
	</div>
<div id="principal">
	<h1> Bienvenido al sitio Aprendizaje Activo</h1> <br /><br />
	<br /><br />

	Esta página se encuentra en construcción.<br>
        Cursos disponibles
        <table>
            <tr>
                <td> Marketing 1</td> <td> curso 2</td><td> curso 3</td><td> curso 4</td>
            </tr>
             <tr>
                <td> <a href="index.php?pagina=teoria_1">ver</a></td> <td> curso 2</td><td> curso 3</td><td> curso 4</td>
            </tr>
        </table>
        <br>
        Técnicas de estudio disponibles<br>
            <table>
            <tr>
                <td> Marketing 1</td> <td> curso 2</td><td> curso 3</td><td> curso 4</td>
            </tr>
             <tr>
                <td> <a href="index.php?pagina=teoria_1">ver</a></td> <td> curso 2</td><td> curso 3</td><td> curso 4</td>
            </tr>
        </table>
        

</div><!--principal-->
</html>
