<html>
<head>
<meta charset="UTF-8">
<title>Estructura de página web</title>
<meta name= "Description" content="Se describe el contenido de la página"/>
<meta name="keywords" content="Se incluyen palabras claves"/>
    
    
</head>

<body><!--  toda la informaci—n que se muestra al usuario-->

<header>
    
    </header>

    <h1>Posicionamiento SEo</h1>
    <h2>Posicionaminto SEM</h2>
    
Hola <strong>Mundo!!!</strong>


<img src="imagenes/mapa.PNG" alt="Mapa conceptual, estructura , 
                                  elementos que lo componen, ejemplo
                                  explicativo" title="Mapa conceptual"/> 




</body>

</html>