<meta name= "Description" content="Estrategias de enseñanza y aprendizaje, para quienes pretenden enseñar"/>
<title>Aprendizaja Activo: Estrategias de Enseñanza y Aprendizaje</title>



<?php
		require TEMPLATE_PATH.'/Analytics.php';?>
</head>
<body>
    <div id="contenedor">
       
        <div id="menu_izquierda">
            <?php
		require TEMPLATE_PATH.'/menu.php';
		?>
        </div>
        
        <div id="principal">
            <h1> Estrategías de Enseñanza</h1> <br /><br />
	
            Se proponen las siguientes estrategias para fomentar un aprendizaje activo y significativo
<br /><br />
        
        <div id="fila1">
            <div id="f1c1"> 
                <a class="formatolink" href="#">
                Estudio de casos </a> </div>
            
            <div id="f1c2">
                <a class="formatolink" href="#">
                    Técnicas de <br> cooperación y <br> colaboración</a>
            </div>
            
            <div id="f1c3"> 
                <a class="formatolink" href="#">
                Por Investigación</a>
</div>
        </div>
<br /><br />
<div id="fila2"> 

            <div id="f2c1"> 
                <a class="formatolink" href="#">
               Método de proyecto </a>
            </div>

            <div id="f2c2"> 
            <a class="formatolink" href="#">
                Basado en problemas </a>
            </div>
            <div id="f2c3"> 
            <a class="formatolink" href="#">
                Por competencias </a>
            </div>

</div>

<br /><br />




        </div>