<meta name= "Description" content="Estrategias Empresariales Análisis Foda Estrategias genericas y corporativas"/>
<title>Ver curso de Estrategias Empresariales</title>


<?php
		require TEMPLATE_PATH.'/Analytics.php';?>
</head><!--comercialización_1-->


<body> <!--comercialización_1-->
<div id="contenedor">

	<div id="menu_izquierda">
		<?php
		require TEMPLATE_PATH.'/menu.php';
		?>
	</div>
<div id="principal">
	<h1>Ver curso de Estrategias Empresariales</h1> <br />
	
<div id="fila2"> 

            <div id="f2c1"> 
                <a class="formatolink" href="index.php?pagina=curso_comercializacion_1">
                Comercialización 1</a>
            </div>

            <div id="f2c2"> 
            <a class="formatolink" href="index.php?pagina=curso_comercializacion_2">
                Comercialización 2</a>
            </div>
            <div id="f2c3"> 
            <a class="formatolink" href="index.php?pagina=curso_estrategias_empresariales">
                Estrategias<br> Empresariales</a>
            </div>

</div>

<br />

<div id="fila3"> 
            
    <div id="f3c1"> 
            <a class="formatolink" href="index.php?pagina=curso_comercializacion_ventas_1">
                Comercialización<br> y Ventas 1</a>
            </div>
            <div id="f3c2"> 
                <a class="formatolink" href="index.php?pagina=curso_investigacion_mercados">
                Investigación<br>de mercados</a>
            </div>
            
            <div id="f3c3"> 
            <a class="formatolink" href="index.php?pagina=curso_comercializacion_ventas_2">
                Estrategias<br> Empresariales</a>
            </div>

</div>

<br /><br />

</div><!--principal-->
