<html>
	<head>
	<div id="cuerpo">

<meta name= "Descripción" content="Estrategias didacticas para fomentar, incentivar el aprendizaje activo, la participación de los estudiantes y elevar la calidad académica"/>
<title>Bienvenido al sitio Aprendizaja Activo</title>

</head>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45657116-1', 'aprendizajeactivo.com.ar');
  ga('send', 'pageview');

</script>



	<div id="izquierda">
		<?php
		require TEMPLATE_PATH.'/menu_H.php';
		?>
	</div>
<div id="principal">
	<h1> Bienvenido al sitio Aprendizaje Activo</h1> <br /><br />
	<br /><br />

	Este sitio pretende promover la participación activa de los estudiantes en el proceso de aprendizaje.
fomentando su compromiso y responsabilidad de la calidad académica.
				
</div>
</div><!--cuerpo-->
</html>
